#real_cities_header {
  .text {
    .header {
      font-size: 48px !important;
      font-weight: 400 !important;
    }
    .description {
      font-size: 24px !important;
      font-weight: 400 !important;
    }
  }
}

#cities_banner {
  .arrow_next_icon {
    display: none;
  }

  .g_row {

    .g_col_d_12 {
      background: url(../images/cities_banner.png) no-repeat;
      background-position-y: 50%;
      background-size: cover;
      height: 500px;
      @include border_radius(0, 0, 5px, 5px);
      @include box_shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.5));
    }

    .mobile {
      display: none;
    }

    .text {
      text-align: center;
      color: $color_1;
      position: relative;
      top: 70px;

      .header {
        margin: 0 0 5px 0;
        font-size: 48px;
        font-weight: 400;
      }

      .description {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
        .bold {
          margin: 0 5px 0 5px;
          font-size: 28px;
          font-weight: 700;
          @include orange_bold_text;
        }
      }
    }

    .values {
      .item {
        background-color: white !important;
      }
    }


  }

}

#real_cities_banner {

  width: 100%;
  height: 70%;
  background: url(../images/cities_banner.png) no-repeat;
  background-position-y: 50%;
  background-size: cover;
  position: relative;

  .breadcrumbs {
    margin-top: 10px;
    li {
      color: $color_1;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      a {
        color: $color_1;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
      }
    }
  }
  .text {
    text-align: center;
    margin-top: 20px;
    .header {
      color: $color_1;
      margin: 70px 0 15px 0;
      font-size: 68px;
      font-weight: 600;
    }
    .description {
      color: $color_1;
      font-size: 48px;
      font-weight: 300;
    }
  }
  .map_5_icon {
    display: inline-block;
    margin-right: 5px;
  }
  .down_big_arrow_icon {
    display: none;
  }
}

#cities_additional {

  position: absolute;
  bottom: 0;
  width: 100%;

  .additional {
    background-color: $bg_color_3;
    padding: 20px;
    box-sizing: border-box;
    font-size: 17px;
    font-weight: 300;
    @include border_radius(5px, 5px, 0, 0);
    .header {
      font-size: 24px;
      font-weight: 400;
      color: #4a4a4a;
    }
    .text {
      margin-top: 0;
      color: #6e6d6e;
      text-align: left;
    }
  }

}

#cities_info {
  padding-bottom: 50px;
  overflow: hidden;
  background-color: #f3efef;
  .schools {
    ul.items {
      margin: 0;
      padding: 0;
      list-style: none;
      li.item {
        padding: 15px;
        box-sizing: border-box;
        border-top: 1px solid #d8d8d8;
        border-left: 1px solid #d8d8d8;
        border-right: 1px solid #d8d8d8;
        background-color: white;
        &:nth-child(odd) {
          background-color: #EBF6FC;
        }
        @extend %clearfix;
        .image {
          width: 25%;
          height: auto;
          float: left;
          top: 10px;
          position: relative;
          overflow: hidden;
          @include border_radius(5px, 5px, 5px, 5px);
          @include box_shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.5));
          img {
            width: 100%;
            height: auto;
          }
        }
        .content {
          float: left;
          width: 75%;
          padding: 0 15px 0 15px;
          box-sizing: border-box;
          .title {
            padding-bottom: 5px;
            border-bottom: 1px solid #d8d8d8;
            .header {
              color: $color_6;
              font-size: 24px;
              font-weight: 600;
              display: inline-block;
            }
            ul.star_raiting {
              display: inline-block;
              padding: 0;
              margin: 0 20px 0 20px;
              li {
                display: inline-block;
              }
            }
            .description {
              display: inline-block;
              font-size: 14px;
              font-weight: 300;
              font-style: italic;
              color: #6e6d6e;
              position: relative;
              top: 8px;
              vertical-align: top;
            }
          }
          .text {
            padding: 5px 0 5px 0;
            color: #6e6d6e;
            font-size: 17px;
            font-weight: 300;
          }
          .button {
            float: right;
            //margin: 7px 0 7px 0;
            padding: 8px 16px 8px 16px;
            text-decoration: none;
          }
        }

      }
    }
  }

}


@media screen and (min-width: 240px) and (max-width: 1140px) {

  #questions_breadcrumbs {
    display: none;
  }

  #real_cities_header {
    height: 100%;
    .text {
      .header {

      }
      .description {
      }
    }
  }

  #cities_banner {
    .arrow_next_icon {
    }

    .g_row {
      .g_col_d_12 {
      }
      .mobile {
      }
      .text {
        top: 70px;
        .header {
          font-size: 28px;
          font-weight: 600;
        }
        .description {
          font-size: 20px;
          font-weight: 400;
          .bold {
            font-weight: 600;
          }
        }
      }
    }
  }

  #real_cities_breadcrumbs {
    display: none;
  }

  #real_cities_banner {
    height: 100%;
    background-position-x: center;
    .breadcrumbs {
      li {
        a {
        }
      }
    }
    .text {
      .header {
        margin-top: 140px;
        margin-bottom: 0;
        font-size: 28px !important;
        font-weight: 700;
      }
      .delimiter {
        width: 75px;
        height: 2px;
        background: $bg_color_3;
        margin: 10px auto 10px auto;
      }
      .description {
        font-size: 16px !important;
        font-weight: 300;
      }
    }
    .map_5_icon {
    }
    .down_big_arrow_icon {
      display: block;
      position: absolute;
      bottom: 5%;
      left: 50%;
      margin-left: -25px;
    }
  }

  #cities_additional {
    position: relative;
    .additional {
      padding: 0;
      .header {
        margin: 0;
        background-color: #eee;
        padding: 10px;
        box-sizing: border-box;
        font-size: 24px;
        font-weight: 400;
        color: $color_10;
        text-align: center;
        border: 1px solid #d8d8d8;
      }
      .text {
        padding: 15px;
        box-sizing: border-box;
        font-size: 14px;
        font-weight: 300;
      }
    }

  }

  #cities_info {
    padding-bottom: 0;
    .schools {
      ul.items {
        li.item {
          padding: 0;
          &:nth-child(odd) {
          }
          .container {
            padding: 0 15px 0 15px;
            box-sizing: border-box;
          }
          .image {
            width: 100%;
            img {
            }
          }
          .content {
            width: 100%;
            padding: 0;
            .title {
              padding: 20px 0 20px 0;
              .header {
                width: 100%;
                text-align: center;
              }
              ul.star_raiting {
                margin: 0 auto;
                display: block;
                text-align: center;
                li {
                }
              }
              .description {
                text-align: center;
                display: block;
              }
            }
            .text {
              padding: 10px;
              box-sizing: border-box;
              font-size: 14px;
              font-weight: 300;
            }
            .button {
              float: initial;
              display: table;
              margin: 20px auto;
            }
          }

        }
      }
    }
  }
}