body {
  overflow-y: scroll;
  overflow-x: hidden;
}

.landing_h {

  position: absolute;
  z-index: 100;

  #logo {
  }
  .button, #menu_button {
    display: inline-block;
    position: relative;
    cursor: hand;
  }
  .button {
    line-height: 27px;
    height: 26px;
    font-size: 14px;
    font-weight: 600;
    color: white;
    padding: 2px 0 2px 0;
    width: 150px;
    text-align: center;
    margin: 0 8px 0 8px;
    top: 14px;
    @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
    @include border_radius(5px, 5px, 5px, 5px);
  }
  #call_order {
    background-color: #2ecc71;
  }
  #prihlasit_se {
    background-color: #3398db;

  }
  #menu_button {
    top: 20px;
    margin-left: 8px;
  }

  .buttons {
    text-align: right;
  }

}

#landing_banner {

  width: 100%;
  height: 100%;
  background: url(../images/cities_bg.png) no-repeat;
  background-position-y: 100%;
  background-size: cover;
  position: relative;

  .cities_footer {
    width: 100%;
    position: absolute;
    bottom: 0;
  }

  .header {
    position: relative;
    top: 20%;
    text-align: center;
    .title {
      font-size: 48px;
      font-weight: 600;
      color: white;
    }
    .description {
      font-size: 24px;
      font-weight: 300;
      color: white;
      margin: 40px 0 90px 0;
    }
    .button {
      text-align: center;
      cursor: hand;
      background-color: #f5a623;
      border-radius: 5px;
      width: 320px;
      height: 72px;
      line-height: 72px;
      color: white;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
      margin: 0 auto;
      .b_arrow {
        bottom: -18px;
        position: absolute;
        left: 50%;
        margin-left: -30px;
      }
    }
  }
}

#landing_about {
  padding: 50px 0 50px 0;
  .about {
    .header {
      margin-bottom: 20px;
      @extend %clearfix;
      .blank {
        background-color: #3498db;
        width: 5px;
        height: 26px;
        float: left;
        position: relative;
        top: 9px;
        margin: 0 10px 0 10px;
      }
      .title {
        float: left;
        font-size: 32px;
        font-weight: 600;
        color: #4a4a4a;
      }
    }
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        padding: 10px 0 10px 60px;
        color: #6e6d6e;
        font-size: 16px;
        font-weight: 400;
        position: relative;
        .right_thin_arrow {
          position: absolute;
          left: 30px;
          top: 10px;
        }
      }
    }
    .video {
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

#landing_partners {
  @include double_gradient(#3398db, #0e6eae);
  .partners {
    padding: 50px 0 50px 0;
    .title {
      font-size: 24px;
      line-height: 33px;
      color: white;
    }
    .partner {
      padding: 0 12px 0 12px;
      box-sizing: border-box;
      float: left;
      width: 33.3333333%;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
}

.landing_header {
  padding: 0 0 40px 0;
  text-align: center;
  .title {
    color: #4a4a4a;
    font-size: 32px;
    font-weight: 600;
  }
  .delimiter {
    background-color: #3498db;
    width: 150px;
    height: 5px;
    margin: 15px auto 0 auto;
  }
  .description {
    margin-top: 15px;
    color: #6e6d6e;
    font-size: 20px;
    font-weight: 300;
    b {
      color: #3498db;
      font-weight: 700;
      margin: 0 5px 0 5px;
    }
  }
  .blank {
    background-color: #f5a623;
    @include border_radius(5px, 5px, 5px, 5px);
    margin: 0 5px 0 5px;
    padding: 0px 5px 0px 5px;
    box-sizing: border-box;
    color: white;
  }
}

#landing_why {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #d8d8d8;
    .advantages {
    @extend %clearfix;
    .item {
      width: 33.333333%;
      height: 90px;
      float: left;
      padding: 20px;
      box-sizing: border-box;
      .icon {
        position: absolute;
        background-position: center;
        width: 50px;
        height: 50px;
      }
      .title {
        width: 100%;
        padding-left: 65px;
        box-sizing: border-box;
        color: #6e6d6e;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}

#landing_about_2 {
  padding: 50px 0 50px 0;
  background-color: #f3f3f3;
  border-bottom: 1px solid #d8d8d8;
  .blocks {
    margin-top: 120px;
    .block {
      .title {
        color: #3498db;
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 10px;
      }
      .description {
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 40px;
      }
    }
  }
}

#landing_promos {
  padding: 50px 0 50px 0;
  border-bottom: 1px solid #d8d8d8;
  .promos_items {
    @extend %clearfix;
    .promo {
      float: left;
      width: 25%;
      padding: 0 15px 0 15px;
      text-align: center;
      border-right: 1px solid #d8d8d8;
      box-sizing: border-box;
      height: 230px;
      &:last-child {
        border-right: 0;
      }
      .image {
        img {
        }
      }
      .title {
        margin: 10px 0 10px 0;
        color: #4a4a4a;
        font-size: 18px;
        font-weight: 600;
      }
      .description {
        color: #4a4a4a;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

#landing_questions {
  padding: 40px 0 0 0;
  background-color: #f3f3f3;
  border-bottom: 1px solid #d8d8d8;

  .questions {
    @extend %clearfix;
    .item {
      width: 100%;
      float: left;
      padding: 10px 0 10px 0;
      box-sizing: border-box;
      .question {
        overflow: hidden;
        box-sizing: border-box;
        @include border_radius(5px, 5px, 5px, 5px);
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
        .title {
          color: white;
          padding: 10px;
          @include double_gradient(#3498db, #1170af);
          font-size: 16px;
          font-weight: 300;
          position: relative;
          cursor: hand;
          .icon.plus_icon {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: hand;
          }
        }
        .description {
          display: none;
          background-color: white;
          color: #4a4a4a;
          font-size: 16px;
          font-weight: 300;
          padding: 10px;
          box-sizing: border-box;
        }
        &.active {
          .title {
            background-image: none;
            background-color: #3498db;
          }
          .plus_icon {
            background: url(../images/minus_icon.png) no-repeat;
          }
        }
      }
    }
  }

  .additional {
    text-align: center;
    padding: 30px 0 30px 0;
    color: #4a4a4a;
    font-weight: 300;
    font-size: 18px;
    a {
      margin-left: 5px;
      color: #3398db;
      font-weight: 600;
      text-decoration: none;
      border-bottom: 1px dashed #3398db;
    }
  }

}

#landing_final {
  padding: 50px 0 50px 0;
  @extend %clearfix;
  .item {
    padding: 0 20px 0 20px;
    .image {
      width: 120px;
      height: auto;
      margin: 0 auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    .description {
      color: #4a4a4a;
      font-size: 18px;
      font-weight: 300;
      margin-top: 15px;
      text-align: center;
      b {
        color: #47a0dc;
        font-weight: 700;
        font-size: 18px;
        margin-right: 5px;
      }
    }
  }
  .circle_icon {
    width: 160px;
    position: absolute;
    top: 60px;
    right: -85px;
    background-repeat-x: repeat;
  }
  .special_circle_icon {
    right: -60px;
    bottom: -150px;
    position: absolute;
  }
  .additional {
    margin-top: 100px;
    .button {
      width: 286px;
      height: 60px;
      line-height: 60px;
      text-align: center;
      color: white;
      font-size: 16px;
      font-weight: 600;
      @include border_radius(5px, 5px, 5px, 5px);
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
      background-color: #f5a623;
      margin: 0 auto;
      cursor: hand;
    }
    .description {
      text-align: center;
      margin-top: 15px;
      color: #9b9b9b;
      font-size: 18px;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  .landing_h {
    position: absolute;
    z-index: 700;
    #logo {
    }
    .button, #menu_button {
    }
    .button {
      display: none;
    }
    #menu_button {
      top: 20px;
      margin-left: 8px;
      display: none;
    }
  }

  #landing_banner {
    background-position-x: center;
    .header {
      .title {
        font-size: 20px;
        font-weight: 700;
      }
      .delimiter {
        width: 70px;
        height: 2px;
        margin: 10px auto 10px auto;
        background-color: white;
      }
      .description {
        font-size: 16px;
        font-weight: 300;
        margin: 10px 0 30px 0;
      }
      .button {
        width: 250px;
        height: 45px;
        line-height: 45px;
        font-size: 12px;
        font-weight: 600;
        .b_arrow {
          display: none;
        }
      }
    }
  }

  #landing_about {
    .about {
      .header {
        .blank {
          display: none;
        }
        .title {
          font-size: 20px;
          font-weight: 600;
          text-align: center;
          width: 100%;
        }
      }
      ul {
        li {
          font-size: 14px;
          font-weight: 400;
          padding-left: 30px;
          .right_thin_arrow {
            left: 5px;
          }
        }
      }
      .video {

      }
    }
  }

  #landing_partners {
    .partners {
      .title {
        text-align: center;
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 40px;
      }
      .partner {
        width: 50%;
        padding-bottom: 30px;
        img {
        }
        &:last-child {
          margin: 0 auto;
          display: table;
          float: none;
        }
      }
    }
  }

  .landing_header {

    .title {
      font-size: 20px;
      font-weight: 600;
    }
    .delimiter {
      width: 150px;
      height: 2px;
    }
    .description {

      b {

      }
    }
    .blank {

    }
  }

  #landing_why {
    .advantages {
      .item {
        width: 100%;
        margin-bottom: 10px;
        .icon {
        }
        .title {
          font-size: 14px;
        }
      }
    }
  }

  #landing_about_2 {
    display: none;
  }

  #landing_promos {
    background-color: #f3f3f3;
    .promos_items {
      .promo {
        width: 100%;
        border-right: 0;
        margin-bottom: 20px;
        height: auto;
        .delimiter {
          width: 180px;
          height: 1px;
          background-color: #d8d8d8;
          margin: 0 auto 0 auto;
        }
        &:last-child {
          .delimiter {
            display: none;
          }
        }
        .image {
          img {
          }
        }
        .title {
        }
        .description {
          margin-bottom: 20px;
        }
      }
    }
  }

  #landing_questions {
    background-color: white;
    .questions {
      padding: 0 10px 0 10px;
      .item {
        width: 100%;
        .question {
          .title {
            .icon.plus_icon {
            }
          }
          .description {
          }
        }
      }
    }
    .additional {
      a {
      }
    }
  }

  #landing_final {
    background-color: #f3f3f3;
    padding-bottom: 0;
    .item {
      margin-bottom: 20px;
      .image {
        img {
        }
      }
      .description {
        b {
        }
      }
    }
    .circle_icon {
      display: none;
    }
    .special_circle_icon {
      display: none;
    }
    .additional_cnt {
      border-top: 1px solid #d8d8d8;
      background: white;
      padding-bottom: 50px;
      .additional {
        .button {
          width: 250px;
          height: 45px;
          line-height: 45px;
          font-weight: 600;
          font-size: 12px;
        }
        .description {
          font-size: 16px;
          font-weight: 300;
        }
      }
    }
  }


}