#questions_banner {

  width: 100%;
  height: 70%;
  background: url(../images/contacts_banner.jpg) no-repeat;
  background-position-y: 50%;
  background-size: cover;
  position: relative;

  .breadcrumbs {
    margin-top: 10px;
    li {
      color: $color_1;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      a {
        color: $color_1;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
      }
    }
  }
  .text {
    text-align: center;
    margin-top: 20px;
    .header {
      color: $color_1;
      margin: 70px 0 15px 0;
      font-size: 68px;
      font-weight: 600;
    }
    .description {
      color: $color_1;
      font-size: 48px;
      font-weight: 300;
    }
  }
  .icon {
    display: none;
  }
}

#questions_additional {

  width: 100%;
  margin-top: -15%;
  padding-bottom: 30px;
  background-color: $bg_color_2;

  .g_row {
    box-sizing: border-box;
    @include border_radius(5px, 5px, 5px, 5px);
    @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
    background-color: $bg_color_3;
    .questions {
      padding: 0;
      .content {
        padding: 7px 20px 7px 20px;
      }
      .title {
        color: $color_10;
        font-size: 24px;
        font-weight: 400;
        padding: 25px 20px 15px 20px;

      }
      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        li {
          border-bottom: 1px solid $border_color_2;
          &.active {
            background-color: rgba(71, 160, 220, 0.2);
            border-bottom: 0;
            .text {
              display: block;
            }
          }
          .header {
            font-size: 18px;
            font-weight: 300;
            color: $color_10;
            padding: 8px 0 8px 0;
            cursor: hand;
            .icon {
              display: inline-block;
              margin-right: 5px;
            }
          }
          .text {
            display: none;
            font-size: 16px;
            font-weight: 300;
            color: $color_10;
          }
        }
      }
      .additional {
        padding: 30px 100px 30px 100px;
        box-sizing: border-box;
        text-align: center;
        color: $color_10;
        font-size: 18px;
        font-weight: 300;
        a {
          margin: 0 5px 0 5px;
          font-weight: 600;
          color: $color_11;
          text-decoration: none;
        }
      }
    }

    .about_us {
      border-left: 1px solid $border_color_2;
      .content {
        padding: 25px 20px 25px 20px;
        .header {
          color: $color_10;
          font-size: 24px;
          font-weight: 400;
          padding: 0 0 28px 0;
        }
        .image {
          width: 100%;
          height: 215px;
          border: 1px solid $border_color_5;
          background-color: $bg_color_23;
        }
        .text {
          p {
            color: $color_6;
            font-size: 18px;
            font-weight: 300;
          }
        }
      }
    }
  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #questions_banner {
    height: 100%;
    background-position-x: center;
  }
  #questions_breadcrumbs {
    display: none;
  }
  #questions_header {
    height: 100%;
    .text {
      .header {
        margin-top: 160px;
        margin-bottom: 0;
        font-size: 28px;
        font-weight: 700;
      }
      .delimiter {
        width: 75px;
        height: 2px;
        background: $bg_color_3;
        margin: 10px auto 10px auto;
      }
      .description {
        font-size: 16px;
        font-weight: 300;
      }
    }
    .icon {
      display: block;
      position: absolute;
      bottom: 5%;
      left: 50%;
      margin-left: - 25px;
    }
  }

  #questions_additional {

    width: 100%;
    margin-top: 0;
    background-color: $bg_color_3;
    padding-bottom: 0;

    .g_row {
      box-sizing: border-box;
      @include border_radius(0, 0, 0, 0);
      @include box_shadow(0, 0, 0, 0, $bg_color_10);
      background-color: $bg_color_3;
      .questions {
        padding: 0;
        .content {
          padding: 7px 20px 7px 20px;
        }
        .title {
          margin: 0;
          background-color: #eee;
          padding: 10px;
          box-sizing: border-box;
          font-size: 18px;
          font-weight: 400;
          color: $color_10;
          text-align: center;
          border: 1px solid #d8d8d8;
        }
        ul {
          li {
            &.active {
              .header {
                border-bottom: 1px solid $border_color_2;
              }
              .text {
              }
            }
            .header {
              font-size: 18px;
              font-weight: 300;
              .icon {
              }
            }
            .text {
              padding: 5px 0 5px 0;
            }
          }
        }
        .additional {
          padding: 10px;
          font-size: 18px;
          a {
          }
        }
      }

      .about_us {
        padding: 0;
        .content {
          padding: 0;
          .header {
            margin: 0;
            background-color: #eee;
            padding: 10px;
            box-sizing: border-box;
            font-size: 18px;
            font-weight: 400;
            color: $color_10;
            text-align: center;
            border: 1px solid #d8d8d8;
          }
          .image {
            display: none;
          }
          .text {
            padding: 10px;
            p {
              font-size: 18px;
              &:first-child {
                margin-top: 0;
              }
            }
          }
        }
      }
    }
  }

}