#review_additional_content {
  .questions {
    padding-top: 0;
  }
}

.sp_button {
  display: none;
  font-size: 14px;
  font-weight: 400;
  padding: 5px 15px 5px 15px;
  color: $color_11;
  position: relative;
  cursor: hand;
  top: -7px;
  @include border_radius(5px, 5px, 5px, 5px);
  background-color: rgba(70, 139, 186, 0.3);
  .icon {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 3px;
  }
}

.sp_title {
  ul.stars {
    display: inline-block;
    padding: 0;
    margin: 10px 10px 6px 10px;
    li {
      display: inline-block;
    }
  }
  .grade {
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
  }
}

#review_header {
  .breadcrumbs {
    margin: 7px 0 7px 0;
  }
  .header {
    .title {
      color: $color_6;
      font-size: 48px;
      font-weight: 300;
      display: inline-block;
      margin-right: 10px;
    }
    .button {
      display: inline-block;
      font-size: 14px;
      font-weight: 400;
      padding: 5px 15px 5px 15px;
      color: $color_11;
      position: relative;
      cursor: hand;
      top: -7px;
      @include border_radius(5px, 5px, 5px, 5px);
      background-color: rgba(70, 139, 186, 0.3);
      .icon {
        display: inline-block;
        margin-right: 5px;
        position: relative;
        top: 3px;
      }
    }
    .raiting {
      float: right;
      text-align: right;
      position: relative;
      top: 5px;
      ul.stars {
        padding: 0;
        margin: 10px 0 6px 0;
        li {
          display: inline-block;
        }
      }
      .grade {
        font-size: 18px;
        font-weight: 400;
      }
    }
  }
  .delimiter {
    width: 400px;
    height: 1px;
    background-color: #979797;
    margin: 10px 0 10px 0;
  }
  .content {
    margin-bottom: 20px;
    .title {
      font-size: 18px;
      font-weight: 400;
      color: #4a4a4a;
      margin-bottom: 5px;
    }
    .text {
      color: #6e6d6e;
      font-size: 16px;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #review_additional_content {
    .questions {
      .reviews_list {
        li:last-child {
          border-bottom: 1px solid #d8d8d8 !important;
        }
      }
    }
  }

  .sp_button {
    margin: 10px auto 0 auto;
    display: table;
  }

  .promos {
    display: none;
  }

  .review_content {
    padding: 15px;
    box-sizing: border-box;
  }

  .questions {
    .load_more {
      display: none !important;
    }
  }

  #review_header {
    padding-top: 60px;
    .breadcrumbs {
      display: none;
    }
    .header {
      .title {
        font-size: 22px;
        font-weight: 300;
      }
      .button {
        display: table;
        margin-top: 15px;
        .icon {
        }
      }
      .raiting {
        display: none;
        ul.stars {
          li {
          }
        }
        .grade {
        }
      }
    }
    .delimiter {
    }
    .content {
      .title {
        font-size: 18px;
        font-weight: 400;
      }
      .text {
        font-size: 13px;
        font-weight: 300;
      }
    }
  }
  .send_review {
    display: none;
  }
  .container {
    webkit-box-shadow: 0 0 0 0 black !important;
    -moz-box-shadow: 0 0 0 0 black !important;
    box-shadow: 0 0 0 0 black !important;
  }
  .questions {
    .bar {
      .header {
        .description {
          padding-top: 10px;
        }
      }
    }
  }
}