footer.section
  .g_row
    .g_col_d_4.g_col_m_12
      .title
        | Potřebujete poradit?
      .contact
        .phone_icon
        = link_to "+420777092350", "tel: +420777092350", class: "number"
      .contact
        .mail_icon
        = link_to "info@autostudy.cz", "mailto: info@autostudy.cz", class: "mail"

    .g_col_d_4.no_mobile
      .title
        | Подробнее
      ul.list
        li
          = link_to "Города", "#"
          span.plus
            | +
        li
          = link_to "Наш блог", "#"
        li
          = link_to "О проекте", "#"
        li
          = link_to "Вопросы-ответы", "#"


    .g_col_d_4.no_mobile
      .title
        | O nas
      ul.list
        li
          = link_to "Для автошкол", "#"
        li
          = link_to "Obchodní podmínky", "#"
        li
          = link_to "Ochrana osobních údajů", "#"
        li
          = link_to "Сотрудничество и реклама", "#"

.copyright_container.section
  .g_row
    .g_col_d_12.g_col_m_12
      .copyright
        | Copyright <span class="cp_symbol">©</span> 2015. All rights reserverd. Developed by
        = link_to "webfactor", "#"