#attention_message
  .g_row
    .g_col_d_12
      .text
        | By using this site you consent to our use of cookies.
        = link_to "Learn more", "#", class: "link"
      .button
        | Ok



header.section
  .g_row

    .g_col_d_4.g_col_m_8
      = link_to "#", id: "logo"
        = image_tag "logo.png"
    .g_col_d_8.g_col_m_4
      .menu_button
        .menu_icon.icon


      nav
        ul
          li
            = link_to "#", class: "link"
              .home_icon
              | Home
          li
            = link_to "Autoskoly", "#"
          li
            = link_to "Vraceni RP", "#"
          li
            = link_to "Blog", "#"
          li
            = link_to "Testy", "#"

#mobile_menu
  .menu_cnt
    ul
      li
        = link_to "#"
          .home_2_icon.icon
          | Home
      li
        = link_to "#"
          .auto_icon.icon
          | Autoskoly
      li
        = link_to "#"
          .blog_icon.icon
          | Blog
      li
        = link_to "#"
          .test_icon.icon
          | Testy
      li
        = link_to "#"
          .contact_icon.icon
          | Kontakty
      li
        = link_to "#"
          .key_icon.icon
          | Pro autoskoly