header.landing_h.section
  .g_row

    .g_col_d_4.g_col_m_10
      = link_to "#", id: "logo"
        = image_tag "logo.png"

    .g_col_d_3.no_mobile

    .g_col_d_5.g_col_m_2.buttons
      #prihlasit_se.button
        | Prihlasit se
      #menu_button.menu_2_icon
      .menu_button
        .menu_icon.icon


#mobile_menu
  .menu_cnt
    ul
      li
        = link_to "#"
          .home_2_icon.icon
          | Home
      li
        = link_to "#"
          .auto_icon.icon
          | Autoskoly
      li
        = link_to "#"
          .blog_icon.icon
          | Blog
      li
        = link_to "#"
          .test_icon.icon
          | Testy
      li
        = link_to "#"
          .contact_icon.icon
          | Kontakty
      li
        = link_to "#"
          .key_icon.icon
          | Pro autoskoly