= render "templates/header"

#school_catalog.section
  .g_row
    .g_col_m_12.no_padding
      #school_list_nav_panel
        #filter_open
          .arrow_icon
          | Filtrace
        #razeni_open
          .arrow_icon
          | Razeni

  .g_row
    .g_col_d_3.g_col_m_12

      #school_list_filter

        .header
          | Filtrovat autoškoly

        = form_tag

          .text_field
            .map_2_icon
            = text_field_tag "map_field", nil, placeholder: "Dělnicka 26, Praha 9"


          .select_field
            .fake_select_box
              .arrow_submit
              .label
                | Skupina B
            ul.items
              li
                | Skupina B
              li
                | Skupina B 2

            = hidden_field_tag "stage_field"

          .select_field
            .fake_select_box
              .arrow_submit
              .label
                | Typ převodovky
            ul.items
              li
                | Typ převodovky
              li
                | Typ převodovky 2

            = hidden_field_tag "type_field"

          .range_field
            .label
              | Cena kurzu
            = hidden_field_tag "price_of", params[:price_of]
            = hidden_field_tag "price_to", params[:price_to]
            .price_container
              .price_slider
            .current_price_of
              | Od
              span.value
                | 100
              | kč
            .current_price_to
              | Do
              span.value
                | 300
              | kč

          .small_header
            | Další opce

          .checkbox_field.plus_checkbox_field.check
            .fake_checkbox.plus_check_icon
            .label
              | Jazyk vyuky 1
            = check_box_tag "checkbox", "plus", true

          .checkbox_field.plus_checkbox_field
            .fake_checkbox.uncheck_icon
            .label
              | Jazyk vyuky 2
            = check_box_tag "checkbox"

          .checkbox_field.plus_checkbox_field
            .fake_checkbox.uncheck_icon
            .label
              | Jazyk vyuky 3
            = check_box_tag "checkbox"


          .checkbox_field.check_checkbox_field.check
            .fake_checkbox.check_icon
            .label
              | Jazyk vyuky 4
            = check_box_tag "checkbox", "check", true

          .checkbox_field.check_checkbox_field.check
            .fake_checkbox.check_icon
            .label
              | Jazyk vyuky 5
            = check_box_tag "checkbox", "check", true

      #razeni_filter
        = form_tag

          .select_field
            .fake_select_box
              .arrow_submit
              .label
                | Skupina B
            ul.items
              li
                | Skupina B
              li
                | Skupina B 2

            = hidden_field_tag "stage_field"

      = link_to "", class: "banner"
        = image_tag "banner.png"



    .g_col_d_9.g_col_m_12.no_mobile_padding

      #school_list

        ul.breadcrumbs
          li
            = link_to "Home", "#"
          li
            | Autoškoly na Praze 5

        .header_container
          .header
            | Nasli jsme pro Vás
            span.count
              | 131
            | autoškolu na
            span.place
              | Praze 5
          .select_place_item
            .label
              | Seřadit:

            .select_field
              .fake_select_box
                .arrow_submit
                .label
                  | Vychozi řazeni
              ul.items
                li
                  | Vychozi řazeni
                li
                  | Vychozi řazeni 2
              = hidden_field_tag "vychozi_field"

        ul.long_card_list
          li.card_item
            .container
              .image
                .label
                .tip.button.yellow_button
                  | Tip
                = image_tag "school_template.png"
              .content
                .header
                  .title
                    | Autoškola Jaroslav Lunda
                  .description
                    | Praha 5, Za Strahovskou tovarnou 18

                  .feedback
                    ul.star_raiting
                      li.star_icon
                      li.star_icon
                      li.star_icon
                      li.star_icon
                      li.unactive_star_icon
                    .review_counters
                      span.counter
                        | 9.9
                      | /
                      = link_to "29 recenze", "#"
                .text
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.

                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                  .recenzes
                    div.name
                      | Hodnoceni:
                      span.value
                        ul.raiting
                          li.star_2_icon
                          li.star_2_icon
                          li.star_2_icon
                          li.star_2_icon
                          li.unactive_star_2_yellow_icon
                    div.name
                      | Recenze:
                      span.value
                        | 29


                  = link_to "Подробнее", "#", class: "button blue_button"

          li.card_item
            .container
              .image
                .label
                = image_tag "template.png"
              .content
                .header
                  .title
                    | Autoškola Jaroslav Lunda
                  .description
                    | Praha 5, Za Strahovskou tovarnou 18

                  .feedback
                    ul.star_raiting
                      li.star_icon
                      li.star_icon
                      li.star_icon
                      li.star_icon
                      li.unactive_star_icon
                    .review_counters
                      span.counter
                        | 9.9
                      | /
                      = link_to "29 recenze", "#"
                .text
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.

                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                  .recenzes
                    div.name
                      | Hodnoceni:
                      span.value
                        ul.raiting
                          li.star_2_icon
                          li.star_2_icon
                          li.star_2_icon
                          li.star_2_icon
                          li.unactive_star_2_yellow_icon
                    div.name
                      | Recenze:
                      span.value
                        | 29

                  = link_to "Подробнее", "#", class: "button blue_button"

          li.card_item
            .container
              .image
                .label
                = image_tag "template.png"
              .content
                .header
                  .title
                    | Autoškola Jaroslav Lunda
                  .description
                    | Praha 5, Za Strahovskou tovarnou 18

                  .feedback
                    ul.star_raiting
                      li.star_icon
                      li.star_icon
                      li.star_icon
                      li.star_icon
                      li.unactive_star_icon
                    .review_counters
                      span.counter
                        | 9.9
                      | /
                      = link_to "29 recenze", "#"
                .text
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.

                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                  .recenzes
                    div.name
                      | Hodnoceni:
                      span.value
                        ul.raiting
                          li.star_2_icon
                          li.star_2_icon
                          li.star_2_icon
                          li.star_2_icon
                          li.unactive_star_2_yellow_icon
                    div.name
                      | Recenze:
                      span.value
                        | 29

                  = link_to "Подробнее", "#", class: "button blue_button"

          li.card_item
            .container
              .image
                .label
                = image_tag "template.png"
              .content
                .header
                  .title
                    | Autoškola Jaroslav Lunda
                  .description
                    | Praha 5, Za Strahovskou tovarnou 18

                  .feedback
                    ul.star_raiting
                      li.star_icon
                      li.star_icon
                      li.star_icon
                      li.star_icon
                      li.unactive_star_icon
                    .review_counters
                      span.counter
                        | 9.9
                      | /
                      = link_to "29 recenze", "#"
                .text
                  | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes.

                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                  .recenzes
                    div.name
                      | Hodnoceni:
                      span.value
                        ul.raiting
                          li.star_2_icon
                          li.star_2_icon
                          li.star_2_icon
                          li.star_2_icon
                          li.unactive_star_2_yellow_icon
                    div.name
                      | Recenze:
                      span.value
                        | 29

                  = link_to "Подробнее", "#", class: "button blue_button"

= render "templates/footer"