= render "templates/header"


#real_cities_banner.section

  #real_cities_breadcrumbs
    .g_row
      .g_col_d_12.g_col_m_12

        ul.breadcrumbs
          li
            = link_to "Home"
          li
            | Nejlepsi autoskoly Prahy 5

  #real_cities_header
    .g_row
      .g_col_d_12.g_col_m_12
        .text
          h1.header
            | Nejlepsi autoskoly Prahy 5
          .delimiter
          .description
            | Vybirate si autoskolu na Praze 5? Prectete si vybrane o vybranych autoskolach.

    = link_to "", "#", class: "icon down_big_arrow_icon"

  #cities_additional
    .g_row
      .g_col_d_12.additional
        .header
          .icon.map_5_icon
          | Praha 5
        .text
          |  Smíchov najdete takřka v centru Prahy na levém břehu Vltavy v sousedství Malé Strany. Na Smíchově se nachází významné nádraží a kousek od něj se nachází autobusové nádraží, odkud jezdí spoje do jižních Čech. Do čtvrti se dostanete metrem linky B. Smíchov byl historicky hlavně dělnickou čtvrtí a sídlily zde významné podniky, do dneška zde zůstal např. pivovar Staropramen. Zástavba se různí, ve středu najdeme hlavně vilky (slavná Bertramka nebo Šaldova vila) a činžovní domy, sever patří sídlišti Podbělohorská. Objevíte zde také nový židovský hřbitov nebo Smíchovskou synagogu. Nedaleko ní se nachází středisko Anděl a obchodní centrum Nový Smíchov (s kinem, restauracemi a kavárnami). Sportovní vyžití nabízí Smíchov bohaté: od zimního stadionu , přes bazén a golfové centrum až po rugby club.Objevíte zde také nový židovský hřbitov nebo Smíchovskou synagogu. Nedaleko ní se nachází středisko Anděl a obchodní centrum Nový Smíchov (s kinem, restauracemi a kavárnami). Sportovní vyžití nabízí Smíchov bohaté: od zimního stadionu , přes bazén a golfové centrum až po rugby club. Nedaleko ní se nachází středisko Anděl a obchodní centrum Nový Smíchov (s kinem, restauracemi a kavárnami).

#cities_info.section
  .schools
    .g_row
      .g_col_d_12.g_col_m_12.no_padding
        ul.items
          li.item
            .container
              .image
                = image_tag "school_template.png"
            .content
              .title
                .header
                  | Autoskola Bohous
                ul.star_raiting
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.unactive_star_4_icon
                .description
                  | Praha 5, Za Strahovskou tovarnou 18
              .text
                | Smíchov najdete takřka v centru Prahy na levém břehu Vltavy v sousedství Malé Strany. Na Smíchově se nachází významné nádraží a kousek od něj se nachází autobusové nádraží, odkud jezdí spoje do jižních Čech. Do čtvrti se dostanete metrem linky B. Smíchov byl historicky hlavně dělnickou čtvrtí a sídlily zde významné podniky, do dneška zde zůstal např. pivovar Staropramen. Zástavba se různí, ve středu najdeme hlavně vilky (slavná Bertramka nebo Šaldova vila) a činžovní domy, sever patří sídlišti Podbělohorská. Objevíte zde také nový židovský hřbitov nebo Smíchovskou synagogu.
              = link_to "Перейти к автошколе", "#", class: "button blue_button"
          li.item
            .container
              .image
                = image_tag "school_template.png"
            .content
              .title
                .header
                  | Autoskola Bohous
                ul.star_raiting
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.unactive_star_4_icon
                .description
                  | Praha 5, Za Strahovskou tovarnou 18
              .text
                | Smíchov najdete takřka v centru Prahy na levém břehu Vltavy v sousedství Malé Strany. Na Smíchově se nachází významné nádraží a kousek od něj se nachází autobusové nádraží, odkud jezdí spoje do jižních Čech. Do čtvrti se dostanete metrem linky B. Smíchov byl historicky hlavně dělnickou čtvrtí a sídlily zde významné podniky, do dneška zde zůstal např. pivovar Staropramen. Zástavba se různí, ve středu najdeme hlavně vilky (slavná Bertramka nebo Šaldova vila) a činžovní domy, sever patří sídlišti Podbělohorská. Objevíte zde také nový židovský hřbitov nebo Smíchovskou synagogu.
              = link_to "Перейти к автошколе", "#", class: "button blue_button"
          li.item
            .container
              .image
                = image_tag "school_template.png"
            .content
              .title
                .header
                  | Autoskola Bohous
                ul.star_raiting
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.unactive_star_4_icon
                .description
                  | Praha 5, Za Strahovskou tovarnou 18
              .text
                | Smíchov najdete takřka v centru Prahy na levém břehu Vltavy v sousedství Malé Strany. Na Smíchově se nachází významné nádraží a kousek od něj se nachází autobusové nádraží, odkud jezdí spoje do jižních Čech. Do čtvrti se dostanete metrem linky B. Smíchov byl historicky hlavně dělnickou čtvrtí a sídlily zde významné podniky, do dneška zde zůstal např. pivovar Staropramen. Zástavba se různí, ve středu najdeme hlavně vilky (slavná Bertramka nebo Šaldova vila) a činžovní domy, sever patří sídlišti Podbělohorská. Objevíte zde také nový židovský hřbitov nebo Smíchovskou synagogu.
              = link_to "Перейти к автошколе", "#", class: "button blue_button"
          li.item
            .container
              .image
                = image_tag "school_template.png"
            .content
              .title
                .header
                  | Autoskola Bohous
                ul.star_raiting
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.unactive_star_4_icon
                .description
                  | Praha 5, Za Strahovskou tovarnou 18
              .text
                | Smíchov najdete takřka v centru Prahy na levém břehu Vltavy v sousedství Malé Strany. Na Smíchově se nachází významné nádraží a kousek od něj se nachází autobusové nádraží, odkud jezdí spoje do jižních Čech. Do čtvrti se dostanete metrem linky B. Smíchov byl historicky hlavně dělnickou čtvrtí a sídlily zde významné podniky, do dneška zde zůstal např. pivovar Staropramen. Zástavba se různí, ve středu najdeme hlavně vilky (slavná Bertramka nebo Šaldova vila) a činžovní domy, sever patří sídlišti Podbělohorská. Objevíte zde také nový židovský hřbitov nebo Smíchovskou synagogu.
              = link_to "Перейти к автошколе", "#", class: "button blue_button"
          li.item
            .container
              .image
                = image_tag "school_template.png"
            .content
              .title
                .header
                  | Autoskola Bohous
                ul.star_raiting
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.unactive_star_4_icon
                .description
                  | Praha 5, Za Strahovskou tovarnou 18
              .text
                | Smíchov najdete takřka v centru Prahy na levém břehu Vltavy v sousedství Malé Strany. Na Smíchově se nachází významné nádraží a kousek od něj se nachází autobusové nádraží, odkud jezdí spoje do jižních Čech. Do čtvrti se dostanete metrem linky B. Smíchov byl historicky hlavně dělnickou čtvrtí a sídlily zde významné podniky, do dneška zde zůstal např. pivovar Staropramen. Zástavba se různí, ve středu najdeme hlavně vilky (slavná Bertramka nebo Šaldova vila) a činžovní domy, sever patří sídlišti Podbělohorská. Objevíte zde také nový židovský hřbitov nebo Smíchovskou synagogu.
              = link_to "Перейти к автошколе", "#", class: "button blue_button"
          li.item
            .container
              .image
                = image_tag "school_template.png"
            .content
              .title
                .header
                  | Autoskola Bohous
                ul.star_raiting
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.unactive_star_4_icon
                .description
                  | Praha 5, Za Strahovskou tovarnou 18
              .text
                | Smíchov najdete takřka v centru Prahy na levém břehu Vltavy v sousedství Malé Strany. Na Smíchově se nachází významné nádraží a kousek od něj se nachází autobusové nádraží, odkud jezdí spoje do jižních Čech. Do čtvrti se dostanete metrem linky B. Smíchov byl historicky hlavně dělnickou čtvrtí a sídlily zde významné podniky, do dneška zde zůstal např. pivovar Staropramen. Zástavba se různí, ve středu najdeme hlavně vilky (slavná Bertramka nebo Šaldova vila) a činžovní domy, sever patří sídlišti Podbělohorská. Objevíte zde také nový židovský hřbitov nebo Smíchovskou synagogu.
              = link_to "Перейти к автошколе", "#", class: "button blue_button"
          li.item
            .container
              .image
                = image_tag "school_template.png"
            .content
              .title
                .header
                  | Autoskola Bohous
                ul.star_raiting
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.star_icon
                  li.unactive_star_4_icon
                .description
                  | Praha 5, Za Strahovskou tovarnou 18
              .text
                | Smíchov najdete takřka v centru Prahy na levém břehu Vltavy v sousedství Malé Strany. Na Smíchově se nachází významné nádraží a kousek od něj se nachází autobusové nádraží, odkud jezdí spoje do jižních Čech. Do čtvrti se dostanete metrem linky B. Smíchov byl historicky hlavně dělnickou čtvrtí a sídlily zde významné podniky, do dneška zde zůstal např. pivovar Staropramen. Zástavba se různí, ve středu najdeme hlavně vilky (slavná Bertramka nebo Šaldova vila) a činžovní domy, sever patří sídlišti Podbělohorská. Objevíte zde také nový židovský hřbitov nebo Smíchovskou synagogu.
              = link_to "Перейти к автошколе", "#", class: "button blue_button"

    #cities_banner
      .g_row
        .g_col_d_12.g_col_m_12
          .text

            h1.header
              | Najděte si autoškolu a objednejte se na kurz
            .description
              | Vyberte si jednu z vice nez
              span.bold
                | 400
              | overenych autoskol a muzete zacit studovat jiz zitra

            .mobile
              .m_header
                | Heading 1
              .delimiter
              .m_description
                | Description text description text description text

            = form_tag "#", id: "search_form"
              .custom_select
                .text_field
                  .placeholder
                    .map_icon
                    | Napiste sem mesto
                  = text_field_tag "search_field", nil
                  .values
                    ul.items
                      li.item
                        .map_2_icon
                        | Praha
                      li.item
                        .map_2_icon
                        | Praha 1
                      li.item
                        .map_2_icon
                        | Praha 2
                      li.item
                        .map_2_icon
                        | Praha 3
                      li.item
                        .map_2_icon
                        | Praha 4
                      li.item
                        .map_2_icon
                        | Praha 5
                      li.item
                        .map_2_icon
                        | Praha 6

                .submit_field
                  .placeholder
                    .search_icon
                    span.label
                      | Vyhledat autoškoly
                  = submit_tag ""


= render "templates/footer"