= render "templates/header"

#contacts_banner.section

  #contacts_breadcrumbs
    .g_row
      .g_col_d_12.g_col_m_12

        ul.breadcrumbs
          li
            = link_to "Home"
          li
            | Contacts

  #contacts_header
    .g_row
      .g_col_d_12.g_col_m_12
        .text
          h1.header
            | AutoStudy
          .delimiter
          .description
            | Nase kontakty a informace o spolecnosti

    = link_to "", "#", class: "icon down_big_arrow_icon"

#contacts_additional.section
  .g_row

    .g_col_d_4.g_col_m_12.additional
      .header
        | Pro studenty
      .text
        | Radi Vam poradime s vyberem autoskoly. V pripade jakykoliv problemu ci dotazu nevahejte nas kontaktovat.  Nase pracovni doba je
        b
          | Po - Pa 9 - 18h
      .contacts
        .contact
          .phone_3_icon
          = link_to "+420777092350", "tel: +420777092350", class: "number"
        .contact
          .mail_3_icon
          = link_to "help@webfactor.cz ", "mailto: help@webfactor.cz ", class: "mail"

    .g_col_d_4.g_col_m_12.additional
      .header
        | Pro studenty
      .text
        | Radi Vam poradime s vyberem autoskoly. V pripade jakykoliv problemu ci dotazu nevahejte nas kontaktovat.  Nase pracovni doba je
        b
          | Po - Pa 9 - 18h
      .contacts
        .contact
          .phone_3_icon
          = link_to "+420777092350", "tel: +420777092350", class: "number"
        .contact
          .mail_3_icon
          = link_to "help@webfactor.cz ", "mailto: help@webfactor.cz ", class: "mail"

    .g_col_d_4.g_col_m_12.additional
      .header
        | Pro studenty
      .text
        | Radi Vam poradime s vyberem autoskoly. V pripade jakykoliv problemu ci dotazu nevahejte nas kontaktovat.  Nase pracovni doba je
        b
          | Po - Pa 9 - 18h
      .contacts
        .contact
          .phone_3_icon
          = link_to "+420777092350", "tel: +420777092350", class: "number"
        .contact
          .mail_3_icon
          = link_to "help@webfactor.cz ", "mailto: help@webfactor.cz ", class: "mail"

#contacts_info.section

  .g_row
    .g_col_d_4.g_col_m_12
      .title
        | O spolecnosti
      .text
        | AUTOSTUDY S.R.O.
        br
        | U Trojice 1042/2, Praha 5 IČO: 28406958
        br
        | Spisová značka c. 123132 vedená u Městského soudu v Praze
      .title
        | O spolecnosti
      .text
        | U Trojice 1042/2
        br
        | Praha
        br
        | 5 15000 
    .g_col_d_8.g_col_m_12

      #google_map
        iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d34454.76513647262!2d14.411634600602273!3d50.070075983979834!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470b948fd7dd8243%3A0xf8661c75d3db586f!2z0KfQtdGF0LjRjw!5e0!3m2!1sru!2sru!4v1449403289240"


= render "templates/footer"