= render "templates/header"

#main_banner.section
  .g_row
    .g_col_d_12.g_col_m_12
      .text

        h1.header
          | Najděte si autoškolu a objednejte se na kurz
        .description
          | Vyberte si jednu z vice nez
          span.bold
            | 400
          | overenych autoskol a muzete zacit studovat jiz zitra

        .mobile
          .m_header
            | Heading 1
          .delimiter
          .m_description
            | Description text description text description text

        = form_tag "#", id: "search_form"
          .custom_select
            .text_field
              .placeholder
                .map_icon
                | Napiste sem mesto
              = text_field_tag "search_field", nil
              .values
                ul.items
                  li.item
                    .map_2_icon
                    | Praha
                  li.item
                    .map_2_icon
                    | Praha 1
                  li.item
                    .map_2_icon
                    | Praha 2
                  li.item
                    .map_2_icon
                    | Praha 3
                  li.item
                    .map_2_icon
                    | Praha 4
                  li.item
                    .map_2_icon
                    | Praha 5
                  li.item
                    .map_2_icon
                    | Praha 6

            .submit_field
              .placeholder
                .search_icon
                span.label
                  | Vyhledat autoškoly
              = submit_tag ""

  = link_to "", "#", class: "arrow_next_icon"

#advantages.section
  .g_row
    .g_col_d_4.g_col_m_12.advantage
      = image_tag "like.png"
      .header
        | Jen overene autoskoly
      .delimiter
      .text
        | Только реальные цены на услуги и отзывы об автошколах.

    .g_col_d_4.g_col_m_12.advantage
      = image_tag "calculator.png"
      .header
        | Настоящие цены на обучение
      .delimiter
      .text
        | Никакой комиссии! Ваша заявка идет прямо в автошколу.

    .g_col_d_4.g_col_m_12.advantage
      = image_tag "chat.png"
      .header
        | Автошколы на сайте
      .delimiter
      .text
        | Никакой комиссии! Ваша заявка идет прямо в автошколу.

#schools_screen.screen.section
  .g_row
    .g_col_d_12
      .header
        h2
          | Nejlepší autoškoly
        .delimeter
        .description
          | Nejlepší autoškoly
    .g_col_d_12
      ul.schools.card_list
        li.card_item
          .content
            .raiting
              span.current
                | 8.3
              |/10
            .image
              .tip.button.yellow_button
                | Tip
              .content style="background-image: url(../images/school_template.png);"
            .school_content.block
              .title
                | Автошкола AAA 
              .description
                .map_2_icon
                | Прага 5 Nadrazi dolni Mecholupy
              .text
                | Автошкола с 20-летней историей. Работаем по всей в Праге! Работаем по всей в Праге!
              .mobile_block
                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                .feedback
                  | Hodnoceni:
                  ul.star_raiting
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.unactive_star_2_icon
                  .review_counters
                    | Recenze:
                    span.bold
                      |29
            .button_container
              = link_to "Подробнее", "#", class: "button blue_button"
        li.card_item
          .content
            .raiting
              span.current
                | 8.3
              |/10
            .image
              .tip.button.yellow_button
                | Tip
              .content style="background-image: url(../images/school_template.png);"
            .school_content.block
              .title
                | Автошкола AAA 
              .description
                .map_2_icon
                | Прага 5 Nadrazi dolni Mecholupy
              .text
                | Автошкола с 20-летней историей. Работаем по всей в Праге! Работаем по всей в Праге!
              .mobile_block
                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                .feedback
                  | Hodnoceni:
                  ul.star_raiting
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.unactive_star_2_icon
                  .review_counters
                    | Recenze:
                    span.bold
                      |29
            .button_container
              = link_to "Подробнее", "#", class: "button blue_button"
        li.card_item
          .content
            .raiting
              span.current
                | 8.3
              |/10
            .image
              .tip.button.yellow_button
                | Tip
              .content style="background-image: url(../images/school_template.png);"
            .school_content.block
              .title
                | Автошкола AAA 
              .description
                .map_2_icon
                | Прага 5 Nadrazi dolni Mecholupy
              .text
                | Автошкола с 20-летней историей. Работаем по всей в Праге! Работаем по всей в Праге!
              .mobile_block
                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                .feedback
                  | Hodnoceni:
                  ul.star_raiting
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.unactive_star_2_icon
                  .review_counters
                    | Recenze:
                    span.bold
                      |29
            .button_container
              = link_to "Подробнее", "#", class: "button blue_button"
        li.card_item
          .content
            .raiting
              span.current
                | 8.3
              |/10
            .image
              .tip.button.yellow_button
                | Tip
              .content style="background-image: url(../images/school_template.png);"
            .school_content.block
              .title
                | Автошкола AAA 
              .description
                .map_2_icon
                | Прага 5 Nadrazi dolni Mecholupy
              .text
                | Автошкола с 20-летней историей. Работаем по всей в Праге! Работаем по всей в Праге!
              .mobile_block
                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                .feedback
                  | Hodnoceni:
                  ul.star_raiting
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.unactive_star_2_icon
                  .review_counters
                    | Recenze:
                    span.bold
                      |29
            .button_container
              = link_to "Подробнее", "#", class: "button blue_button"

        li.card_item
          .content
            .raiting
              span.current
                | 8.3
              |/10
            .image
              .tip.button.yellow_button
                | Tip
              .content style="background-image: url(../images/school_template.png);"
            .school_content.block
              .title
                | Автошкола AAA 
              .description
                .map_2_icon
                | Прага 5 Nadrazi dolni Mecholupy
              .text
                | Автошкола с 20-летней историей. Работаем по всей в Праге! Работаем по всей в Праге!
              .mobile_block
                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                .feedback
                  | Hodnoceni:
                  ul.star_raiting
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.unactive_star_2_icon
                  .review_counters
                    | Recenze:
                    span.bold
                      |29
            .button_container
              = link_to "Подробнее", "#", class: "button blue_button"

        li.card_item
          .content
            .raiting
              span.current
                | 8.3
              |/10
            .image
              .tip.button.yellow_button
                | Tip
              .content style="background-image: url(../images/school_template.png);"
            .school_content.block
              .title
                | Автошкола AAA 
              .description
                .map_2_icon
                | Прага 5 Nadrazi dolni Mecholupy
              .text
                | Автошкола с 20-летней историей. Работаем по всей в Праге! Работаем по всей в Праге!
              .mobile_block
                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                .feedback
                  | Hodnoceni:
                  ul.star_raiting
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.unactive_star_2_icon
                  .review_counters
                    | Recenze:
                    span.bold
                      |29
            .button_container
              = link_to "Подробнее", "#", class: "button blue_button"

        li.card_item
          .content
            .raiting
              span.current
                | 8.3
              |/10
            .image
              .tip.button.yellow_button
                | Tip
              .content style="background-image: url(../images/school_template.png);"
            .school_content.block
              .title
                | Автошкола AAA 
              .description
                .map_2_icon
                | Прага 5 Nadrazi dolni Mecholupy
              .text
                | Автошкола с 20-летней историей. Работаем по всей в Праге! Работаем по всей в Праге!
              .mobile_block
                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                .feedback
                  | Hodnoceni:
                  ul.star_raiting
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.unactive_star_2_icon
                  .review_counters
                    | Recenze:
                    span.bold
                      |29
            .button_container
              = link_to "Подробнее", "#", class: "button blue_button"

        li.card_item
          .content
            .raiting
              span.current
                | 8.3
              |/10
            .image
              .tip.button.yellow_button
                | Tip
              .content style="background-image: url(../images/school_template.png);"
            .school_content.block
              .title
                | Автошкола AAA 
              .description
                .map_2_icon
                | Прага 5 Nadrazi dolni Mecholupy
              .text
                | Автошкола с 20-летней историей. Работаем по всей в Праге! Работаем по всей в Праге!
              .mobile_block
                .additional
                  .attention
                    | Сena kurzu
                    span.stage
                      | skupiny B
                    | od
                    span.price
                      | 8990
                    | Kč
                .feedback
                  | Hodnoceni:
                  ul.star_raiting
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.star_2_icon
                    li.unactive_star_2_icon
                  .review_counters
                    | Recenze:
                    span.bold
                      |29
            .button_container
              = link_to "Подробнее", "#", class: "button blue_button"

      .load_more
        | Load more

#mobile_promo.section.screen
  .g_row
    .g_col_d_12.g_col_m_12
      .header
        h2
          | E-testy 2015
        .delimeter
        .description
          | Stahnete si zdarma pro  IOS nebo Android
  .g_row
    .g_col_d_8.g_col_m_12.mobile_position
      .content
        .header_additional
          .first_part
            | Nejnovejši e-testy ve
          .second_part
            |  Vašem mobilu nebo tabletu
        .text
          | Vytvorili jsme pro Vas skvele appky, ktere si muzete stahnout uplne zdarma. Nejnovejsi verze testu od roku <span class="year">2015</span>. K dispozice pro IOS a Android.

      .badges
        = link_to "#", class: "store_badge"
          = image_tag "appstore-badge.png"
        = link_to "#", class: "store_badge"
          = image_tag "playmarketbadge.png"
    .g_col_d_4.g_col_m_12
      = image_tag "iphone_app.png", class: "mobile_image"

  .g_row
    .g_col_d_12.g_col_m_12
      .attention
        | Vyzkoušejte také počitačovou verze přimo na
        = link_to "naších stránkach", "#"

#articles_screen.screen
  .g_row
    .g_col_d_12
      .header
        h2
          | Popularné članky
        .delimeter
        .description
          | Сотни полезных статей для начинающих водителей в нашем блоге
    .g_col_d_12
          ul.articles.card_list
            li.card_item
              .content
                .button_container
                  = link_to "Poradce", "#", class: "button green_button"
                .image
                  = image_tag "poradce.png"
                .article_content.block
                  .title
                    | Самая частая ошибка новичка 
                  .text
                    | Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate.
                .media_content
                  .message_count
                    .message_icon
                    | 4
                  .watch_count
                    .watch_icon
                    | 257
                  .more
                    | Precist si
                    .left_arrow_icon
            li.card_item
              .content
                .button_container
                  = link_to "Recenze", "#", class: "button red_button"
                .image
                  = image_tag "recenze.png"
                .article_content.block
                  .title
                    | Как сдавали на права в ČSSR
                  .text
                    | Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate.
                .media_content
                  .message_count
                    .message_icon
                    | 4
                  .watch_count
                    .watch_icon
                    | 257
                  .more
                    | Precist si
                    .left_arrow_icon
            li.card_item
              .content
                .button_container
                  = link_to "Test", "#", class: "button blue_button"
                .image
                  = image_tag "test.png"
                .article_content.block
                  .title
                    | Сдала на права с 63 раза!
                  .text
                    | Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate.
                .media_content
                  .message_count
                    .message_icon
                    | 4
                  .watch_count
                    .watch_icon
                    | 257
                  .more
                    | Precist si
                    .left_arrow_icon
            li.card_item
              .content
                .button_container
                  = link_to "Recenze", "#", class: "button yellow_button"
                .image
                  = image_tag "recenze_2.png"
                .article_content.block
                  .title
                    | Выбираем первую машину
                  .text
                    | Mauris non tempor quam, et lacinia sapien. Mauris accumsan eros eget libero posuere vulputate.
                .media_content
                  .message_count
                    .message_icon
                    | 4
                  .watch_count
                    .watch_icon
                    | 257
                  .more
                    | Precist si
                    .left_arrow_icon
  .g_row
    .g_col_d_12.center
      = link_to "Перейти в блог", "#", class: "blog_link"

#location_screen.screen
  .g_row
    .g_col_d_12
      .header
        h2
          | Popularné članky
        .delimeter
        .description
          | Найти автошколу возле Вашего дома

  .g_row
    .g_col_d_12
      .buttons
        .active.button.praha
          .map_2_icon
          | Jen Praha
        .button.ceshla
          .map_2_icon
          | Česká Republika

  .g_row#praha_cnt
    .g_col_d_6
      .content
        .text
          | В нашем каталоге представлены все автошколы Праги.  Прочитайте отзывы, посмотрите цены на обучение в автошколах, найдите скидки на обучение для студентов. Если Вы получили водительское удостоверение, но еще неуверенно чувствуете себя за рулем - Вы можете записаться на kondiční jízdy в лучшие автошколы в Праге, оставив заявку прямо на сайте.
        .text
          | В нашем каталоге представлены все автошколы Праги.  Прочитайте отзывы, посмотрите цены на обучение в автошколах, найдите скидки на обучение для студентов. Если Вы получили водительское удостоверение, но еще неуверенно чувствуете себя за рулем - Вы можете записаться на kondiční jízdy в лучшие автошколы в Праге, оставив заявку прямо на сайте.
    .g_col_d_6
      .image
        img id="p_map" src="images/maps/mapa0.png" border="0" width="540" height="411" orgWidth="540" orgHeight="411" usemap="#p_map" alt=""
        map name="p_map" id="p_map"
          area shape="rect" coords="538,409,540,411" alt="Image Map" style="outline:none;" title="Image Map" href="http://www.image-maps.com/index.php?aff=mapped_users_0"
          area id="ten_position" alt="ten_position" title="ten_position" href="http://www.image-maps.com/" shape="poly" coords="352,275,352,259,346,248,347,239,338,232,339,229,326,219,317,222,308,224,312,215,298,211,293,213,290,202,282,205,277,197,259,198,249,189,255,178,273,178,277,162,292,152,301,148,307,144,314,148,326,143,327,151,326,155,339,160,348,158,361,163,381,157,392,169,405,165,412,176,423,188,432,200,442,197,447,212,459,219,462,226,458,240,458,258,456,274,439,276,433,294,411,291,398,293,391,284,391,278,368,273" style="outline:none;" target="_self"    data-maphilight='ten_position'
          area id="nine_position" alt="nine_position" title="nine_position" href="http://www.image-maps.com/" shape="poly" coords="302,149,292,141,292,135,283,132,270,135,272,119,273,115,266,108,265,99,274,93,277,87,285,79,285,63,286,56,292,51,296,47,292,35,294,29,296,21,301,19,311,17,313,14,322,9,326,5,332,8,332,27,339,35,346,38,360,46,376,49,384,49,390,58,394,67,394,74,403,79,418,83,431,85,435,94,452,93,456,103,458,113,471,121,491,135,504,147,506,162,508,177,500,187,486,187,476,184,471,194,445,191,438,196,430,197,422,189,420,179,411,168,408,165,395,167,388,163,378,152,373,161,367,164,359,156,353,159,350,158,346,157,341,159,334,157,330,153,332,149,330,143,321,145,316,149,310,144,303,147" style="outline:none;" target="_self"
          area id="eight_position" alt="eight_position" title="eight_position" href="http://www.image-maps.com/" shape="poly" coords="236,147,256,130,255,119,249,111,243,108,239,106,235,103,232,94,222,93,215,96,208,91,200,85,189,76,194,69,189,64,186,63,187,59,190,57,199,54,205,52,208,43,218,39,233,39,245,38,252,34,261,27,254,28,256,23,269,23,278,21,288,18,301,19,296,24,292,29,292,39,292,49,283,58,283,71,281,80,272,87,271,99,267,103,263,110,275,113,272,120,270,128,270,136,262,142,253,140,245,144" style="outline:none;" target="_self" data-maphilight='eight_position'
          area id="seven_position" alt="seven_position" title="seven_position" href="http://www.image-maps.com/" shape="poly" coords="199,145,212,135,212,127,210,122,203,120,201,114,201,108,195,101,197,92,200,84,207,90,215,95,227,90,233,99,236,109,245,109,252,119,251,132,244,138,239,144,227,146,212,148,202,146" style="outline:none;" target="_self"
          area id="four_position" alt="four_position" title="four_position" href="http://www.image-maps.com/" shape="poly" coords="194,346,199,341,199,335,199,325,194,320,192,323,193,311,199,300,200,291,196,280,192,273,192,264,196,251,199,239,204,232,209,222,212,212,212,200,212,197,218,194,219,190,228,192,236,194,248,192,260,197,277,198,280,207,291,205,290,210,300,212,312,216,309,222,317,224,324,221,333,219,339,226,338,235,345,243,344,251,351,256,352,272,347,278,339,278,330,279,322,279,318,283,315,301,308,300,290,303,285,309,278,314,272,318,268,325,262,328,256,337,244,338,229,339,218,343,204,346" style="outline:none;" target="_self"    data-maphilight='four_position'
          area id="third_position" alt="third_position" title="third_position" href="http://www.image-maps.com/" shape="poly" coords="254,178,253,167,246,164,238,156,232,152,232,149,241,147,248,143,262,142,270,135,290,132,290,143,299,146,296,150,293,155,282,156,277,163,275,175,263,176" style="outline:none;" target="_self" data-maphilight='third_position'
          area id="second_position" alt="second_position" title="second_position" href="http://www.image-maps.com/" shape="poly" coords="214,198,206,175,217,174,228,171,231,165,231,160,233,154,234,147,239,160,249,167,254,178,251,193,247,193,241,193,226,193,219,198,212,198" style="outline:none;" target="_self"
          area id="first_position" alt="first_position" title="first_position" href="http://www.image-maps.com/" shape="poly" coords="190,162,182,159,182,153,191,149,200,146,214,151,221,148,232,146,230,154,232,164,227,171,220,174,212,174,208,174,206,178,203,166,198,162,189,161" style="outline:none;" target="_self"    data-maphilight='first_position'
          area id="five_position" alt="five_position" title="five_position" href="http://www.image-maps.com/" shape="poly" coords="129,385,121,382,122,375,122,363,114,362,109,350,117,347,124,343,129,342,122,328,125,319,128,316,128,313,115,313,105,311,97,299,91,291,85,289,91,285,95,281,95,265,95,264,93,253,81,253,71,245,59,234,54,223,51,213,41,210,33,206,33,199,33,194,37,186,46,184,55,179,62,170,77,169,89,181,99,189,112,182,119,173,131,168,140,168,154,164,164,163,175,165,185,165,194,163,204,171,208,182,214,197,211,212,207,227,200,240,193,250,192,266,192,278,196,285,197,298,192,316,191,323,200,323,197,337,192,345,193,354,193,362,192,369,184,371,178,370,173,379,165,380,154,376,135,380,128,386" style="outline:none;" target="_self"    data-maphilight='five_position'
          area id="six_position" alt="six_position" title="six_position" href="http://www.image-maps.com/" shape="poly" coords="16,143,12,132,9,120,16,116,31,115,41,108,51,106,63,111,72,106,84,102,94,90,104,96,121,104,131,100,144,94,144,90,144,75,151,62,163,59,176,55,185,59,190,70,189,79,199,83,197,95,191,102,200,109,202,120,210,125,210,136,201,145,191,148,185,154,188,162,175,162,171,163,162,163,150,165,146,169,135,172,131,169,123,168,115,171,111,176,103,184,97,190,92,184,89,171,80,169,72,169,72,166,67,164,56,165,50,164,43,148,35,140,25,139,19,139" style="outline:none;" target="_self"

  .g_row#ceshka_cnt
    .g_col_d_6
      .content
        .text
          | 1 В нашем каталоге представлены все автошколы Праги.  Прочитайте отзывы, посмотрите цены на обучение в автошколах, найдите скидки на обучение для студентов. Если Вы получили водительское удостоверение, но еще неуверенно чувствуете себя за рулем - Вы можете записаться на kondiční jízdy в лучшие автошколы в Праге, оставив заявку прямо на сайте.
        .text
          | 1 В нашем каталоге представлены все автошколы Праги.  Прочитайте отзывы, посмотрите цены на обучение в автошколах, найдите скидки на обучение для студентов. Если Вы получили водительское удостоверение, но еще неуверенно чувствуете себя за рулем - Вы можете записаться на kondiční jízdy в лучшие автошколы в Праге, оставив заявку прямо на сайте.
    .g_col_d_6
      .image
        = image_tag "11-layers.png"


#search.section.screen
  .g_row
    .g_col_d_12
      .header
        h2
          | Najdi si autoskolu vedle domu
        .delimeter
        .description
          | Z vice nez 400 autoskol v nasem katalogu

  .g_row
    .g_col_d_12.g_col_m_12
      .text
        = form_tag "#", id: "search_form"
          .custom_select
            .text_field
              .placeholder
                .map_icon
                | Napiste sem mesto
              = text_field_tag "search_field", nil

            .submit_field
              .placeholder
                .search_icon
                span.label
                  | Vyhledat autoškoly
              = submit_tag ""







= render "templates/footer"