= render "templates/landing_header"

#landing_banner.section

  = image_tag "cities_footer.png", class: "cities_footer"

  .g_row.header
    .g_col_d_12.g_col_m_12
      .title
        | Получайте больше студентов в Вашу  автошколу уже сегодня
      .delimiter
      .description
        | Бесплатная регистрация в крупнейшем каталоге автошкол по Чехии
      .button
        .icon.b_arrow
        | ДОБАВИТЬ АВТОШКОЛУ БЕСПЛАТНО


#landing_about.section

  .g_row.about
    .g_col_d_6.g_col_m_12
      .header
        .blank
        .title
          | ЧТО ТАКОЕ AUTOSTUDY.CZ?
        .blank
      ul
        li
          .icon.right_thin_arrow
          | Актуальный каталог автошкол по Чехии и Словакии с  независимыми отзывами учеников и возможностью  поиска по параметрам.
        li
          .icon.right_thin_arrow
          | Свежие автоновости. Возможность первыми узнать об  изменениях ПДД или новых штрафах.
        li
          .icon.right_thin_arrow
          | Обучающие материалы - более 100 образовательных статей.
        li
          .icon.right_thin_arrow
          | Тесты для подготовки к экзамену для всех категорий
    .g_col_d_6.no_mobile
      .video
        = image_tag "video.png"

#landing_partners.section
  .g_row.partners
    .g_col_d_6.g_col_m_12
      .title
        | С нами работают уже более <b>150</b> автошкол
    .g_col_d_6.g_col_m_12
      = link_to "#", class: "partner"
        = image_tag "autodesk_logo.png"
      = link_to "#", class: "partner"
        = image_tag "autodesk_logo.png"
      = link_to "#", class: "partner"
        = image_tag "autodesk_logo.png"

#landing_why.section
  .g_row
    .g_col_d_12.g_col_m_12
      .landing_header
        .title
          | ПОЧЕМУ АВТОШКОЛАМ ВЫГОДНО РАБОТАТЬ С НАМИ?
        .delimiter

  .g_row
    .g_col_d_12.g_col_m_12
      .advantages
        .item
          .icon.adv_1
          .title
            | Еженедельная аудитория портала  более 12 000 посетителей.
        .item
          .icon.adv_2
          .title
            | Экономия расходов на рекламу.  Оплата только за привлеченного  клиента.
        .item
          .icon.adv_3
          .title
            | Реклама автошкол на крупных  студенческих порталах.
        .item
          .icon.adv_4
          .title
            | Реклама автошкол в мобильных  приложениях.
        .item
          .icon.adv_5
          .title
            | Доверие к автошколам за счет  реальных отзывов.
        .item
          .icon.adv_6
          .title
            | Помогаем автошколам находить клиентов.


#landing_about_2.section

  .g_row
    .g_col_d_12
      .landing_header
        .title
          | ПОЧЕМУ АВТОШКОЛАМ ВЫГОДНО РАБОТАТЬ С НАМИ?
        .description
          | Всего простых шага до начала работы

  .g_row
    .g_col_d_3
      .blocks
        .block
          .title
            | SPRAVNY REGION
          .description
            | Выберите районы, где проходят практические занятия для привлечения потенциальных клиентов.
        .block
          .title
            | OTAZKY STUDENTU
          .description
            | Выберите преимущества, которые выделят Вашу автошколу на  фоне других
        .block
          .title
            | OVERENE RECENZE
          .description
            | Хорошие отзывы ваших учеников повысят доверие к Вашей автошколе

    .g_col_d_6
      .image
        = image_tag "screen.png"

    .g_col_d_3
      .blocks
        .block
          .title
            | KVALITNI FOTO
          .description
            | Отвечайте на вопросы потенциальных студентов прямо через через личный кабинет
        .block
          .title
            | KURZY A SLUZBY
          .description
            | Выберите преимущества, которые выделят Вашу автошколу на  фоне других
        .block
          .title
            | VYHODY
          .description
            | Выберите преимущества, которые выделят Вашу автошколу на  фоне других

#landing_promos.section

  .g_row
    .g_col_d_12.g_col_m_12
      .landing_header
        .title
          |  CO NABIZIME
          span.blank
            | ZDARMA
          | KAZDE AUTOSKOLE ?

  .g_row
    .g_col_d_12.g_col_m_12
      .promos_items
        .promo
          .image
            = image_tag "s1.png"
          .title
            | Reklama na 5-ti mistech
          .description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .delimiter
        .promo
          .image
            = image_tag "s2.png"
          .title
            | Reklama na 5-ti mistech
          .description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .delimiter
        .promo
          .image
            = image_tag "s3.png"
          .title
            | Reklama na 5-ti mistech
          .description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .delimiter
        .promo
          .image
            = image_tag "s4.png"
          .title
            | Reklama na 5-ti mistech
          .description
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
          .delimiter


#landing_questions.section

  .g_row
    .g_col_d_12
      .landing_header
        .title
          | ЧАСТЫЕ ВОПРОСЫ И ОТВЕТЫ?

  .g_row
    .g_col_d_6.g_col_m_12
      .questions
        .item
          .question
            .title
              | Как происходит оплата?
              .icon.plus_icon
            .description
              | В данном случае Вы не платите нам комиссию. Издержки за рекламу несем мы. Вам нужно только уведомить нас об этом не познее, чем через неделю с момента получения заявки.
        .item
          .question
            .title
              | Как происходит оплата?
              .icon.plus_icon
            .description
              | В данном случае Вы не платите нам комиссию. Издержки за рекламу несем мы. Вам нужно только уведомить нас об этом не познее, чем через неделю с момента получения заявки.
        .item
          .question
            .title
              | Как происходит оплата?
              .icon.plus_icon
            .description
              | В данном случае Вы не платите нам комиссию. Издержки за рекламу несем мы. Вам нужно только уведомить нас об этом не познее, чем через неделю с момента получения заявки.
        .item
          .question
            .title
              | Как происходит оплата?
              .icon.plus_icon
            .description
              | В данном случае Вы не платите нам комиссию. Издержки за рекламу несем мы. Вам нужно только уведомить нас об этом не познее, чем через неделю с момента получения заявки.

    .g_col_d_6.g_col_m_12
      .questions
        .item
          .question
            .title
              | Как происходит оплата?
              .icon.plus_icon
            .description
              | В данном случае Вы не платите нам комиссию. Издержки за рекламу несем мы. Вам нужно только уведомить нас об этом не познее, чем через неделю с момента получения заявки.
        .item
          .question
            .title
              | Как происходит оплата?
              .icon.plus_icon
            .description
              | В данном случае Вы не платите нам комиссию. Издержки за рекламу несем мы. Вам нужно только уведомить нас об этом не познее, чем через неделю с момента получения заявки.
        .item
          .question
            .title
              | Как происходит оплата?
              .icon.plus_icon
            .description
              | В данном случае Вы не платите нам комиссию. Издержки за рекламу несем мы. Вам нужно только уведомить нас об этом не познее, чем через неделю с момента получения заявки.
        .item
          .question
            .title
              | Как происходит оплата?
              .icon.plus_icon
            .description
              | В данном случае Вы не платите нам комиссию. Издержки за рекламу несем мы. Вам нужно только уведомить нас об этом не познее, чем через неделю с момента получения заявки.

  .g_row
    .g_col_d_12
      .additional
        | Не нашли ответа на свой вопрос?
        = link_to "Напишите нам!", "#"


#landing_final.section

  .g_row
    .g_col_d_12.g_col_m_12
      .landing_header
        .title
          | НАЧНИТЕ ПОЛУЧАТЬ НОВЫХ КЛИЕНТОВ УЖЕ СЕГОДНЯ
        .description
          | Всего
          b
            | 3
          | простых шага до начала работы

  .g_row
    .g_col_d_4.g_col_m_12
      .item
        .image
          = image_tag "d1.png"
        .description
          b
            | 1.
          | Зарегистрируйте свою автошколу
        .icon.circle_icon
    .g_col_d_4.g_col_m_12
      .item
        .image
          = image_tag "d2.png"
        .description
          b
            | 2.
          | Заполните данные об автошколе  и предоставляемых услугах.
        .icon.circle_icon
    .g_col_d_4.g_col_m_12
      .item
        .image
          = image_tag "d3.png"
        .description
          b
            | 3.
          | Начните получать новые заявки  в автошколу
        .icon.special_circle_icon

  .g_row.additional_cnt
    .g_col_d_12.g_col_m_12
      .additional
        .button
          | ПРИСОЕДИНИТЬСЯ БЕСПЛАТНО
        .description
          | Регистрация займет до 10 минут.

= render "templates/footer"