= render "templates/header"

#questions_banner.section

  #questions_breadcrumbs
    .g_row
      .g_col_d_12.g_col_m_12

        ul.breadcrumbs
          li
            = link_to "Home"
          li
            | About Us

  #questions_header
    .g_row
      .g_col_d_12.g_col_m_12
        .text
          h1.header
            | AutoStudy
          .delimiter
          .description
            | Nase kontakty a informace o spolecnosti

    = link_to "", "#", class: "icon down_big_arrow_icon"



#questions_additional.section

  .g_row

    .g_col_d_6.g_col_m_12.questions

      .title
        | Вопросы и ответы
      ul
        li
          .content
            .header
              .icon.small_left_arrow_icon
              | У меня есть вопрос по сайту
            .text
              | Мы не сможем решить всех проблем, но если на «Autostudy» что-то работает не так, мы стараемся реагировать оперативно исправляем, дополняем, объясняем. Если вы нашли ошибку, напишите в нашу службу поддержки.
        li.active
          .content
            .header
              .icon.small_bottom_arrow_icon
              | У меня есть вопрос по сайту
            .text
              | Мы не сможем решить всех проблем, но если на «Autostudy» что-то работает не так, мы стараемся реагировать оперативно исправляем, дополняем, объясняем. Если вы нашли ошибку, напишите в нашу службу поддержки.
        li
          .content
            .header
              .icon.small_left_arrow_icon
              | У меня есть вопрос по сайту
            .text
              | Мы не сможем решить всех проблем, но если на «Autostudy» что-то работает не так, мы стараемся реагировать оперативно исправляем, дополняем, объясняем. Если вы нашли ошибку, напишите в нашу службу поддержки.
      .additional
        | Не нашли ответ на свой вопрос, тогда  напишите его нам на
        = link_to "help@autostudy.cz", "mailto: help@autostudy.cz"
        |  и мы обязательно поможем вам!

    .g_col_d_6.g_col_m_12.about_us
      .content
        .header
          | О нас
        .image
          = image_tag "#"
        .text
          p
            | Проект “Аutostudy” основан в 2015 году. Основателем проекта является IT компания “WEBFACTOR”.
          p
            |   Autostudy - крупнейший каталог автошкол по Чешской республике. За время существования из отраслевого сайта он в вырос в глобальный тематический ресурс по автотематике.
          p
            | Наша задача — предоставить только правдивую информацию об автошколах и обеспечить возможность сравнивать автошколы в выбранных районах. Помимо этого здесь Вы можете найти образовательные статьи и подготовиться к экзамену прямо на сайте.

= render "templates/footer"