= render "templates/header"

#review_header.section
  .g_row.no_mobile
    .g_col_d_12

      ul.breadcrumbs.small
        li
          = link_to "Home"
        li
          = link_to "Autoškoly na Praze 5", "#"
        li
          | Autoškola Bohouš

  .g_row
    .g_col_d_12.g_col_m_12.review_content
      .header
        .title
          | Autoškola Bohouš recenze
        .button
          .icon.left_blue_arrow_icon
          | Zpatky k autoskole
        .raiting
          ul.stars
            li.star_2_icon
            li.star_2_icon
            li.star_2_icon
            li.unactive_star_2_icon
            li.unactive_star_2_icon
          .grade
            | 6.0 / 34 recenze

      .delimiter

      .content
        .title
          | Informace o recenzich
        .text
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laor.


#review_additional_content.section
  .g_row
    .g_col_d_3.promos
      .offer
        .header
          | Zeptat se predstavitele
        .content
          .image
            .cnt
              = image_tag "offer_image.png"
          .personal_date
            .name
              | Nikolay Velichkin 
            .description
              | Instruktor autoškoly Bohouš

        .quote
          | ‘’Rad zodpovim na veškere dotazy ohledne vyuky u nas’’

        .center
          = link_to "Zeptat se", "#", class: "button blue_button"

      = link_to "#", class: "banner"
        = image_tag "banner.png"

    .g_col_d_9.g_col_m_12.no_mobile_padding

      .questions
        .bars
          .bar.active
            .container
              ul.contents
                li.item.active
                  .header
                    .title.sp_title
                      | 34 recenze
                      ul.stars
                        li.star_icon
                        li.star_icon
                        li.star_icon
                        li.unactive_star_icon
                        li.unactive_star_icon
                      .grade
                        span.first
                          | 6.0
                        | / 10
                    .description
                      | Pruměrne hodnoceni je lepší než 73% autoškol v Praze.
                    .send_review
                      .send
                        | Pridat nazoe
                      .pencil_icon

              .feedback_form
                .title
                  | Napiste nam, jak jste byl/a s Autoskolou Bohous spokojena
                ul.stars
                  li.unactive_star_2_icon
                  li.unactive_star_2_icon
                  li.unactive_star_2_icon
                  li.unactive_star_2_icon
                  li.unactive_star_2_icon
                .description
                  | Vase hodnoceni
                form
                  .text_fields
                    .text_field
                      .placeholder
                        .person_icon
                        | Jmeno
                      input#name type="text"

                    .text_field
                      .placeholder
                        .mail_2_icon
                        | E-mail
                      input#email type="text"

                  .textarea_field
                    .placeholder
                      .message_2_icon
                      | Napiste sem Vas komentar
                    textarea

                  .submit
                    input class="button blue_button" type="submit" value="Odeslat"

              ul.reviews_list
                li
                  .title
                    | Celkově hodnoceni
                    .raiting
                      ul.stars
                        li.small_star_icon
                        li.small_star_icon
                        li.small_star_icon
                        li.unactive_small_star_icon
                        li.unactive_small_star_icon
                      .grade
                        | 8.0
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.
                li
                  .title
                    | Celkově hodnoceni
                    .raiting
                      ul.stars
                        li.small_star_icon
                        li.small_star_icon
                        li.small_star_icon
                        li.unactive_small_star_icon
                        li.unactive_small_star_icon
                      .grade
                        | 8.0
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.

                li
                  .title
                    | Celkově hodnoceni
                    .raiting
                      ul.stars
                        li.small_star_icon
                        li.small_star_icon
                        li.small_star_icon
                        li.unactive_small_star_icon
                        li.unactive_small_star_icon
                      .grade
                        | 8.0
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.
                li
                  .title
                    | Celkově hodnoceni
                    .raiting
                      ul.stars
                        li.small_star_icon
                        li.small_star_icon
                        li.small_star_icon
                        li.unactive_small_star_icon
                        li.unactive_small_star_icon
                      .grade
                        | 8.0
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.

              .button.light_blue_button.load_more
                | Load More

              .sp_button
                .icon.left_blue_arrow_icon
                | Zpatky k autoskole


= render "templates/footer"