= render "templates/header"

#school_card
  .g_row
    .g_col_d_12

      ul.breadcrumbs.small
        li
          = link_to "Home"
        li
          = link_to "Autoškoly na Praze 5", "#"
        li
          | Autoškola Bohouš

  .g_row
    .g_col_d_9
      h1.title
        | Autoškola Bohouš
      .description
        .map_2_icon
        | Praha 5, Pod Smichovskou tovarnou 234/76

    .feedback
      ul.star_raiting
        li.star_2_icon
        li.star_2_icon
        li.star_2_icon
        li.star_2_icon
        li.unactive_star_2_yellow_icon
        .review_counters
          span.counter
            | 9.9
          | /
          = link_to "29 recenze", "#"

  .g_row
    .g_col_d_6
      .content
        .header
          | Informace o autoškole
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor…
        .header
          | Informace o autoškole
        p
          | Praha 1, Praha 2, Praha 3, инструктор может забрать студента у метро Nove Butovice, Lužiny, Smichovske nadraži, Zličin а также приехать к дому при покупке вип курса.
        .header
          | Место проведения теории
        p
          | Praha 5, Pod Smichovskou tovarnou 234/76
        .header
          | Время проведения занятий
        p
          | Понедельник-пятница , с 8 до 22
    .g_col_d_6

      #photo_slider.slider
        .left_switcher
        .right_switcher
        ul.slider_children
          li
            .label
            = image_tag "slider_image.png"
          li
            = image_tag "slider_image.png"
          li
            = image_tag "slider_image.png"

        ul.pagination
          li.active
          li
          li

#school_table
  .g_row
    .g_col_d_12
      table
        thead
          tr.header
            th
              | Typ skupiny
            th
              | Nazev kurzu
            th
              | Delka kurzu
            th
              | Typ převodovky
            th
              | Cena kurzu
            th
        tbody
          tr.row
            td
              | Skupina A1
            td
              | Standartni kurz
            td
              | 8 tydnu
            td
              | AT
            td
              | 8800 Kč
            td
              = link_to "Zapsat se na kurz", "#", class: "button yellow_gradient_button"
          tr.row
            td
              | Skupina A1
            td
              | Standartni kurz
            td
              | 8 tydnu
            td
              | AT
            td
              | 8800 Kč
            td
              = link_to "Zapsat se na kurz", "#", class: "button yellow_gradient_button"
          tr.union_row.popup_row
            td colspan="6"
              | Doplnkove sluzby
              span.top_arrow_icon
          tr.row.open_popup_row
            td.left colspan=4
              | Skupina A1
            td
              | 8800 Kč
            td
              = link_to "Zapsat se na kurz", "#", class: "button yellow_gradient_button"
          tr.row.open_popup_row
            td.left colspan=4
              | Skupina A1
            td
              | 8800 Kč
            td
              = link_to "Zapsat se na kurz", "#", class: "button yellow_gradient_button"
          tr.links_row
            td colspan="6"
              = link_to "Nevite jaky kurz si vybrat?", "#", class: "nevite"
              | /
              = link_to "Co potrebuju pro zacatek studia?", "#", class: "studia"

#school_additional_content
  .g_row
    .g_col_d_3

      .offer
        .header
          | Zeptat se predstavitele
        .content
          .image
            .cnt
              = image_tag "offer_image.png"
          .personal_date
            .name
              | Nikolay Velichkin 
            .description
              | Instruktor autoškoly Bohouš

        .quote
          | ‘’Rad zodpovim na veškere dotazy ohledne vyuky u nas’’

        .center
          = link_to "Zeptat se", "#", class: "button blue_button"

      = link_to "#", class: "banner"
        = image_tag "banner.png"

    .g_col_d_9

      .additional_content
        .header
          | Informace o autoškole
        p
          | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laor.
        .header
          | Auta na kterych probiha vyuka
        p
          | Skoda Octavia 2013 automat, Ford Mondeo 2006 manual, Fiat punto

      .advantages
        .header
          | Преимущества автошколы
        ul
          li
            = image_tag "medal_1.png"
            .text
              | Есть автотренажер
          li
            = image_tag "medal_2.png"
            .text
              | Надежная школа более 10 лет работы
          li
            = image_tag "medal_1.png"
            .text
              | Есть автотренажер
          li
            = image_tag "medal_2.png"
            .text
              | Надежная школа более 10 лет работы
          li
            = image_tag "medal_1.png"
            .text
              | Есть автотренажер

      .questions
        ul.navigation
          li.active
            | Отзывы (34)
          li
            | Вопросы (5)

        .bars
          .bar.active
            .container
              ul.contents
                li.item.active
                  .header
                    .title
                      | 34 recenze
                      .raiting
                        ul.stars
                          li.star_icon
                          li.star_icon
                          li.star_icon
                          li.unactive_star_icon
                          li.unactive_star_icon
                        .grade
                          span.first
                            | 6.0
                          | / 10
                    .description
                      | Pruměrne hodnoceni je lepší než 73% autoškol v Praze.
                    .send_review
                      .send
                        | Pridat nazoe
                      .pencil_icon

              .feedback_form
                .title
                  | Napiste nam, jak jste byl/a s Autoskolou Bohous spokojena
                ul.stars
                  li.unactive_star_2_icon
                  li.unactive_star_2_icon
                  li.unactive_star_2_icon
                  li.unactive_star_2_icon
                  li.unactive_star_2_icon
                .description
                  | Vase hodnoceni
                form
                  .text_fields
                    .text_field
                      .placeholder
                        .person_icon
                        | Jmeno
                      input#name type="text"

                    .text_field
                      .placeholder
                        .mail_2_icon
                        | E-mail
                      input#email type="text"

                  .textarea_field
                    .placeholder
                      .message_2_icon
                      | Napiste sem Vas komentar
                    textarea

                  .submit
                    input class="button blue_button" type="submit" value="Odeslat"

              ul.reviews_list
                li
                  .title
                    | Celkově hodnoceni
                    .raiting
                      ul.stars
                        li.small_star_icon
                        li.small_star_icon
                        li.small_star_icon
                        li.unactive_small_star_icon
                        li.unactive_small_star_icon
                      .grade
                        | 8.0
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.
                li
                  .title
                    | Celkově hodnoceni
                    .raiting
                      ul.stars
                        li.small_star_icon
                        li.small_star_icon
                        li.small_star_icon
                        li.unactive_small_star_icon
                        li.unactive_small_star_icon
                      .grade
                        | 8.0
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.

                li
                  .title
                    | Celkově hodnoceni
                    .raiting
                      ul.stars
                        li.small_star_icon
                        li.small_star_icon
                        li.small_star_icon
                        li.unactive_small_star_icon
                        li.unactive_small_star_icon
                      .grade
                        | 8.0
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.
                li
                  .title
                    | Celkově hodnoceni
                    .raiting
                      ul.stars
                        li.small_star_icon
                        li.small_star_icon
                        li.small_star_icon
                        li.unactive_small_star_icon
                        li.unactive_small_star_icon
                      .grade
                        | 8.0
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.




              .button.light_blue_button.load_more
                | Load More
          .bar.questions_bar
            .container
              ul.contents
                li.item.active
                  .header
                    .title
                      | 5 dotazu pro Autoskolu Bohous
                    .send_question.link
                      .send
                        | Zeptat se autoskolu
                      .pencil_icon

              .question_form
                .title
                  | Napiste nam, jak jste byl/a s Autoskolou Bohous spokojena
                .description
                  | Vase hodnoceni
                form
                  .text_fields
                    .text_field
                      .placeholder
                        .person_icon
                        | Jmeno
                      input#name type="text"

                    .text_field
                      .placeholder
                        .mail_2_icon
                        | E-mail
                      input#email type="text"

                  .textarea_field
                    .placeholder
                      .message_2_icon
                      | Napiste sem Vas komentar
                    textarea

                  .submit
                    input class="button blue_button" type="submit" value="Odeslat"

              ul.reviews_list
                li
                  .title
                    | Celkově hodnoceni
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.
                li
                  .title
                    | Celkově hodnoceni
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.

                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.
                  .answer
                    .answer_top_icon
                    .image
                      .cnt
                        = image_tag "offer_image.png"
                    .answer_text
                      | Lorem ipsum dolor sit amet, consectetur frest seadipiscing elit. Aeneaneuismod bibendum laoreet.
                      br
                      | Lorem ipsum dolor sit amet, consectetur rysui adipiscing elit. Aeneaneuismod bibendum laoreet.
                li
                  .title
                    | Celkově hodnoceni
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.
                li
                  .title
                    | Celkově hodnoceni
                  .text
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
                  .personal
                    span.date
                      | Zaři 2012
                    span.name
                      | Darya D.




              .button.light_blue_button.load_more
                | Load More

.mobile_content.section

  .g_row
    .g_col_m_12.no_padding
      .header_container
        = link_to "#", class: "breadcrumb"
          .left_arrow_icon
          | Zpet k vyhledavani

        .header
          .title
            | Autoskola Bohous
          .description
            .map_3_icon
            | Praha 5, Za Strahovskou tovarnou 18


  .g_row
    .g_col_m_12.no_padding

      #mobile_kurs

        .header
          .title
            | Zapsat se na
          .description
            | Kurz pro cizince v rustine
          .delimiter
          .text
            | Заполните данную форму и инструктор свяжется с Вами

        form
          .text_field
            .placeholder
              .person_icon.icon
              | Jmeno
            input#name type="text"

          .text_field
            .placeholder
              .phone_2_icon.icon
              | Telefon
            input#phone type="text"

          .text_field
            .placeholder
              .mail_2_icon.icon
              | E-mail
            input#email type="text"

          .text_field
            .placeholder
              .calendar_icon.icon
              | Planovany zacatek
            input#calendar type="text"

          .submit
            input class="button blue_button" type="submit" value="Odeslat"



  #mobile_photo_slider.slider
    .left_switcher
    .right_switcher
    ul.slider_children
      li
        .label
        = image_tag "slider_image.png"
      li
        = image_tag "slider_image.png"
      li
        = image_tag "slider_image.png"

    ul.pagination
      li.active
      li
      li

  #school_info_navigation
    ul.navigation
      li.active
        .cash_icon.icon
        | Ceny
      li
        .info_icon.icon
        | Info
      li
        .review_icon.icon
        | Recenze
      li
        .question_icon.icon
        | Dotazy

    ul.content_card
      li.item.cash.active
        ul.cash_list
          li
            .content_dual
              .price
                span.value
                  | 9900
                | Kč
              .header
                | Kurz pro cizince v rustine
              .content
                .row
                  | Typ skupiny:
                  span.value
                    | B
                .row
                  | Prevodovka:
                  span.value
                    | Automaticka
                .row
                  | Delka kurzu:
                  span.value
                    | do 12 tydnu
              .button.dark_yellow_button
                | Zapsat se

          li
            .content_dual
              .price
                span.value
                  | 9900
                | Kč
              .header
                | Kurz pro cizince v rustine
              .content
                .row
                  | Typ skupiny:
                  span.value
                    | B
                .row
                  | Prevodovka:
                  span.value
                    | Automaticka
                .row
                  | Delka kurzu:
                  span.value
                    | do 12 tydnu
              .button.dark_yellow_button
                | Zapsat se

          li
            .content_dual
              .price
                span.value
                  | 9900
                | Kč
              .header
                | Kurz pro cizince v rustine
              .content
                .row
                  | Typ skupiny:
                  span.value
                    | B
                .row
                  | Prevodovka:
                  span.value
                    | Automaticka
                .row
                  | Delka kurzu:
                  span.value
                    | do 12 tydnu
              .button.dark_yellow_button
                | Zapsat se

          li
            .content_dual
              .price
                span.value
                  | 9900
                | Kč
              .header
                | Kurz pro cizince v rustine
              .content
                .row
                  | Typ skupiny:
                  span.value
                    | B
                .row
                  | Prevodovka:
                  span.value
                    | Automaticka
                .row
                  | Delka kurzu:
                  span.value
                    | do 12 tydnu
              .button.dark_yellow_button
                | Zapsat se



        .additional_header
          .title
            | Doplnkove sluzby


        ul.additional_cash_list
          li
            .additional
              .text
                | Kurz pro cizince v rustine
              .prices
                .price_cnt
                  | Cena:
                  span.value
                    | 9900
                  | Kč
                .button.dark_yellow_button
                  | Zapsat se
          li
            .additional
              .text
                | Kurz pro cizince v rustine
              .prices
                .price_cnt
                  | Cena:
                  span.value
                    | 9900
                  | Kč
                .button.dark_yellow_button
                  | Zapsat se
          li
            .additional
              .text
                | Kurz pro cizince v rustine
              .prices
                .price_cnt
                  | Cena:
                  span.value
                    | 9900
                  | Kč
                .button.dark_yellow_button
                  | Zapsat se

      li.item.info
        .text
          .header
            | Informace o skole
          .content
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Lorem ipsum dolor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
        .text
           .header
             | Место проведения практики
           .content
             | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
        .text
          .header
            | Место проведения теории
          .content
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
        .text
          .header
            | Время проведения занятий
          .content
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
        .text
          .header
            | Автомобили автошколы
          .content
            | Skoda Octavia
            br
            |  Skoda Fabia
        .text
          .header
            | Преимущества автошколы
          .content
            | Надежная школа - более 10 лет работы
            br
            | Есть автотренажер
            br
            | Собственная автоплощадка
            br
            | Машины не старше 3-х лет

      li.item.recenze
        .statistic
          .title
            span.value
              | 8.3
            |/10
          ul.stars
            li.star_icon
            li.star_icon
            li.star_icon
            li.unactive_star_icon
            li.unactive_star_icon
          .description
            | Pruměrne hodnoceni je lepší než 73% autoškol

        .actions
          .recenzes_count
            span.value
              | 34
            | Receze
          .button#mobile_review
            .top_arrow_2_icon.icon
            .active
              .pencil_2_icon
              span
                | Pridat nazor

        .form
          ul.stars
            li.unactive_star_2_yellow_icon
            li.unactive_star_2_yellow_icon
            li.unactive_star_2_yellow_icon
            li.unactive_star_2_yellow_icon
            li.unactive_star_2_yellow_icon
          .label
            | Vase hodnoceni
          form
            .text_fields

              .textarea_field
                .placeholder
                  .message_2_icon.icon
                  | Napiste sem Vas komentar
                textarea

              .text_field
                .placeholder
                  .person_icon.icon
                  | Jmeno
                input#name type="text"

              .text_field
                .placeholder
                  .mail_2_icon.icon
                  | E-mail
                input#email type="text"

            .submit
              input class="button blue_button" type="submit" value="Odeslat"

        ul.review_list
          li
            .title
              | Celkově hodnoceni
              .raiting
                ul.stars
                  li.small_star_icon
                  li.small_star_icon
                  li.small_star_icon
                  li.unactive_small_star_icon
                  li.unactive_small_star_icon
                .grade
                  | 8.0
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            .personal
              span.date
                | Zaři 2012
              span.name
                | Darya D.
            li
              .title
                | Celkově hodnoceni
                .raiting
                  ul.stars
                    li.small_star_icon
                    li.small_star_icon
                    li.small_star_icon
                    li.unactive_small_star_icon
                    li.unactive_small_star_icon
                  .grade
                    | 8.0
              .text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              .personal
                span.date
                  | Zaři 2012
                span.name
                  | Darya D.
            li
              .title
                | Celkově hodnoceni
                .raiting
                  ul.stars
                    li.small_star_icon
                    li.small_star_icon
                    li.small_star_icon
                    li.unactive_small_star_icon
                    li.unactive_small_star_icon
                  .grade
                    | 8.0
              .text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              .personal
                span.date
                  | Zaři 2012
                span.name
                  | Darya D.
            li
              .title
                | Celkově hodnoceni
                .raiting
                  ul.stars
                    li.small_star_icon
                    li.small_star_icon
                    li.small_star_icon
                    li.unactive_small_star_icon
                    li.unactive_small_star_icon
                  .grade
                    | 8.0
              .text
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
              .personal
                span.date
                  | Zaři 2012
                span.name
                  | Darya D.

      li.item.dotazy
        .statistic
          .title
            span.value
              | 8.3
            |/10
          ul.stars
            li.star_icon
            li.star_icon
            li.star_icon
            li.unactive_star_icon
            li.unactive_star_icon
          .description
            | Pruměrne hodnoceni je lepší než 73% autoškol

        .actions
          .recenzes_count
            span.value
              | 8
            | Dotaz
          .button#mobile_dotaz
            .top_arrow_2_icon.icon
            .active
              .pencil_2_icon
              span
                | Pridat dotaz

        .form
          .label
            | Vas e-mail nebude zverejnen, jakmile autoskola zodpovi na dotaz, posleme Vam odkaz na nej.
          form
            .text_fields

              .textarea_field
                .placeholder
                  .q_icon.icon
                  | Napiste sem Vas komentar
                textarea

              .text_field
                .placeholder
                  .person_icon.icon
                  | Jmeno
                input#name type="text"

              .text_field
                .placeholder
                  .mail_2_icon.icon
                  | E-mail
                input#email type="text"

            .submit
              input class="button blue_button" type="submit" value="Odeslat"

        ul.dotazy_list
          li
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            .personal
              span.date
                | 02.03.2012
              span.name
                | Petya A.
          li
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            .personal
              span.date
                | 02.03.2012
              span.name
                | Petya A.
            .answer
              .answer_top_icon
              .answer_text
                | Lorem ipsum dolor sit amet, consectetur frest seadipiscing elit. Aeneaneuismod bibendum laoreet.
                br
                | Lorem ipsum dolor sit amet, consectetur rysui adipiscing elit. Aeneaneuismod bibendum laoreet.
              .answer_name
                | Jan Honza
              .answer_state
                |  Instruktor Autoskoly Bohous
          li
            .text
              | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
            .personal
              span.date
                | 02.03.2012
              span.name
                | Petya A.


.popup#stages_popup
  .bg
  .section
    .popup_cnt
      .close_cross
      .header
        .title
          | Jake skupiny ridicskych prukazu vydavaji?
        .description
          | Aktualne informace v roce 2015
        .delimiter
      .text
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
      table
        thead
          tr
            th
              | Oznaceni
            th
              | Platnost a podminky
            th
              | Minimalni vek
        tbody
          tr
            td
              | AM
            td.left_align
              | Motorová vozidla s konstrukční rychlostí nepřevyšující 45 km/h. U dvoukolových vozidel je příslušnost omezena zdvihovým objemem válců spalovacího motoru nepřevyšujícím 50 ccm a výkonem elektrického motoru do 4 kW.
            td
              | 15 let
          tr
            td
              | AM
            td.left_align
              | Motorová vozidla s konstrukční rychlostí nepřevyšující 45 km/h. U dvoukolových vozidel je příslušnost omezena zdvihovým objemem válců spalovacího motoru nepřevyšujícím 50 ccm a výkonem elektrického motoru do 4 kW.
            td
              | 15 let
          tr
            td
              | AM
            td.left_align
              | Motorová vozidla s konstrukční rychlostí nepřevyšující 45 km/h. U dvoukolových vozidel je příslušnost omezena zdvihovým objemem válců spalovacího motoru nepřevyšujícím 50 ccm a výkonem elektrického motoru do 4 kW.
            td
              | 15 let


      .button.dark_yellow_button
        | Zavrit

.popup#quest_popup
  .bg
  .section
    .popup_cnt
      .close_cross
      .header
        .title
          | Jake skupiny ridicskych prukazu vydavaji?
        .description
          | Aktualne informace v roce 2015
        .delimiter
      .point_item
        span.number
          | 1
        | Dosazeni veku
      .text
        | Je nutné vyplnit přihlášku do autoškoly, kde si rovnou zvolíte skupinu, pro kterou chcete dělat řidičské oprávnění. Dále budete potřebovat lékařské potvrzení o zdravotní způsobilosti.
      .point_item
        span.number
          | 2
        | Dosazeni veku
      .text
        | Je nutné vyplnit přihlášku do autoškoly, kde si rovnou zvolíte skupinu, pro kterou chcete dělat řidičské oprávnění. Dále budete potřebovat lékařské potvrzení o zdravotní způsobilosti.
      .point_item
        span.number
          | 3
        | Dosazeni veku
      .text
        | Je nutné vyplnit přihlášku do autoškoly, kde si rovnou zvolíte skupinu, pro kterou chcete dělat řidičské oprávnění. Dále budete potřebovat lékařské potvrzení o zdravotní způsobilosti.
      .button.dark_yellow_button
        | Zavrit


.popup#kurs_popup
  .bg
  .section
    .popup_cnt
      .close_cross
      .header
        .title
          | Zapsat se na
        .description
          | Kurz pro cizince v rustine
        .delimiter
        .text
          | Заполните данную форму и инструктор свяжется с Вами
      form
        .text_field
          .placeholder
            .person_icon.icon
            | Jmeno
          input#name type="text"

        .text_field
          .placeholder
            .phone_2_icon.icon
            | Telefon
          input#phone type="text"

        .text_field
          .placeholder
            .mail_2_icon.icon
            | E-mail
          input#email type="text"

        .text_field
          .placeholder
            .calendar_icon.icon
            | Planovany zacatek
          input#calendar type="text"

        .submit
          input class="button blue_button" type="submit" value="Odeslat"


= render "templates/footer"
