/*
 *= require normalize-rails
*/

@import "templates/constructions";
@import "templates/grids";
@import "templates/fonts/fonts";

@import "colors";

html,body {
  font-family: 'Open Sans', sans-serif;
}

// Mixin

@mixin orange_bold_text {
  font-weight: bold;
  color: $color_9;
}


// Main Class

.center {
  text-align: center;
}

.no_padding {
  padding: 0 !important;
}
@media screen and (min-width: 240px) and (max-width: 1140px) {
  .no_mobile_padding {
    padding: 0 !important;
    z-index: 0 !important;
  }
}

.price_slider {
  &.ui-slider-horizontal {
    width: 100%;
    height: 6px;
    background: $bg_color_3;
    border: 1px solid $border_color_10;
    position: relative;
    @include border_radius(4px, 4px, 4px, 4px);
    .ui-slider-range {
      position: relative;
      height: 10px;
      top: -2px;
      margin-left: 7px;
      @include blue_double_gradient_right;

    }
    .ui-slider-handle {
      width: 19px;
      height: 18px;
      background: url(../images/price_bullet.png) no-repeat;
      position: absolute;
      display: block;
      outline: none;
      top: -5px;
    }
  }
}


// Search form


#search_form {

  width: 700px;
  margin: 30px auto;

  input {
    outline:none;
  }

  .custom_select {

    height: 55px;
    @extend %clearfix;

    width: 100%;

    .text_field, .submit_field {
      float: left;
    }

    .text_field {

      width: 72%;
      position: relative;

      .placeholder {

        font-size: 16px;
        color: $color_3;
        position: absolute;
        top: 17px;
        left: 26px;

        .map_icon {
          display: inline-block;
          position: relative;
          top: 1px;
        }

      }

      input[type=text] {
        width: 100%;
        padding: 10px;
        color: $color_6;
        height: 100%;
        border-left: 2px solid grey;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        border-right: 0;
        font-size: 16px;
        font-weight: 400;
        @include border_radius(5px, 0, 0, 5px);
      }

      .values {
        display: none;
        position: absolute;
        top: 57px;
        background-color: $bg_color_3;
        width: 100%;
        height: 251px;
        overflow-y: scroll ;
        @include border_radius(5px, 5px, 5px, 5px);
        .items {
          padding: 0;
          margin: 0;
          list-style: none;
          .item {
            color: $color_4;
            text-align: left;
            padding: 10px;
            font-size: 14px;
            font-weight: 300;
            cursor: hand;
            border-bottom: 1px solid $border_color_2;
            .map_2_icon {
              display: inline-block;
              margin-right: -2px;
              position: relative;
              top: 2px;
              margin-left: 16px;
            }
            &:last-child {
              border-bottom: 0;
            }
          }
        }
      }

    }

    .submit_field {
      width: 28%;
      font-size: 16px;
      font-weight: 400;
      position: relative;

      .placeholder {

        font-size: 16px;
        color: $color_1;
        position: absolute;
        top: 17px;
        left: 13px;
        text-align: center;
        cursor: hand;

        .search_icon {
          display: inline-block;
          margin-right: 10px;
          position: relative;
          top: 3px;
        }

      }

      input[type=submit] {
        width: 100%;
        height: 100%;
        display: block;
        padding: 10px;
        background-color: $bg_color_6;
        border-right: 2px solid grey;
        border-top: 2px solid grey;
        border-bottom: 2px solid grey;
        border-left: 0;
        @include border_radius(0, 5px, 5px, 0);
      }
    }

  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #search_form {
    width: 95%;
    .values {
      top: 41px !important;
    }
    .custom_select {
      height: 40px;
      .text_field {
        border-width: 3px;
        width: 85%;
        input[type=text] {
          border-width: 3px;
        }
        .placeholder {
          text-align: left;
          font-size: 13px;
          font-weight: 300;
          top: 10px;
          .label {
            display: none;
          }
        }
      }
      .submit_field {
        width: 15%;
        input[type=submit] {
          border-width: 3px;
        }
        .placeholder {
          width: 100%;
          top: 0;
          left: 0;
          .search_icon {
            position: relative;
            top: 11px;
            margin-right: 0;
          }
          .label {
            display: none;
          }
        }

      }
    }

  }
}

// Breadcrumbs

.breadcrumbs {

  margin: 0 0 15px 0;
  padding: 0;
  list-style: none;
  display: block;
  @extend %clearfix;

  li {

    float: left;
    display: block;
    color: $color_6;
    font-size: 16px;
    font-weight: 300;

    &:after {
      content: ">";
      margin: 0 5px 0 5px;
    }

    &:last-child:after {
      content: none;
    }

    a {
      color: $color_6;
      text-decoration: none;
      font-size: 16px;
      font-weight: 300;
    }

  }

  &.small {
    li {
      font-size: 13px;
      font-weight: 300;
      color: $color_3;
      a {
        font-size: 13px;
        font-weight: 300;
        color: $color_3;
      }
    }
  }

}


// Screen

.screen {

  padding: 50px 0 50px 0;
  background: $bg_color_2;

  .header {

    text-align: center;

    h2, .description {
      color: $color_6;
    }

    h2 {
      font-size: 48px;
      font-weight: 300;
      margin: 10px 0 10px 0;
    }

    .description {
      font-size: 20px;
      font-weight: 300;
      margin-bottom: 20px;
    }

    .delimiter {
      width: 70px;
      height: 2px;
      background: $bg_color_3;
      @include border_radius(2px, 2px, 2px, 2px);
      margin: 0 auto;
    }

  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  .screen {
    padding: 25px 0 25px 0;
    .header {
      h2 {
        font-size: 28px;
        font-weight: 400;
        display: inline-block;
        padding-bottom: 3px;
        margin: 5px 0 5px 0;
      }
      .delimeter {
        width: 70px;
        height: 2px;
        background: $bg_color_1;
        @include border_radius(2px, 2px, 2px, 2px);
        margin: 0 auto;
      }
      .description {
        margin-top: 5px;
        font-size: 16px;
        font-weight: 300;
      }
    }
  }
}

// Buttons

@mixin button {
  @include border_radius(5px, 5px, 5px, 5px);
  padding: 3px 22px 3px 22px;
  color: $color_1;
  font-size: 14px;
  font-weight: 300;
}

.blue_button {
  background-color: $bg_color_1;
  @include button;
}

.green_button {
  background-color: $bg_color_8;
  @include button;
}

.red_button {
  background-color: $bg_color_9;
  @include button;
}

.yellow_button {
  background-color: $bg_color_7;
  @include button;
}

.dark_yellow_button {
  background-color: $bg_color_17;
  @include button;
}

.light_blue_button {
  background-color: $bg_color_14;
  @include button;
}

.yellow_gradient_button {
  @include double_gradient($bg_color_17, $bg_color_18);
  @include button;
}

// Card List

.card_list {

  margin: 0;
  padding: 0;
  list-style: none;
  @extend %clearfix;

  .card_item {

    float: left;
    padding: 0 10px 20px 10px;
    box-sizing: border-box;
    width: 25%;

    .button {
      font-size: 14px;
      font-weight: 400;
    }

    .content {
      position: relative;
      background: $bg_color_3;
      @include box_shadow(0, 1px, 2px, 0, $bg_color_10);

      .image {

        height: 140px;
        overflow: hidden;

        img {
          width: 100%;
          height: auto;
        }

      }

      .block {

        padding: 10px 10px 0 10px;
        box-sizing: border-box;

        .title {
          font-size: 18px;
          font-weight: 400;
        }

        .description {
          font-size: 12px;
          font-weight: 300;
          font-style: italic;
          padding: 2px 0 2px 0;
          color: $color_6;
        }

        .text {
          padding: 2px 0 2px 0;
          font-size: 14px;
          font-weight: 300;
          line-height: 19px;
          color: $color_6;
        }
      }

    }
  }

}

.long_card_list {

  margin: 0;
  padding: 0;
  list-style: none;
  @extend %clearfix;


  .card_item {

    float: left;
    padding: 0 0 20px 0;
    box-sizing: border-box;
    width: 100%;

    .container {
      height: 220px;
      overflow: hidden;
      position: relative;
      background: $bg_color_3;
      @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
      @extend %clearfix;

      .image {

        width: 37%;
        float: left;
        position: relative;
        overflow: hidden;

        .label {
          top: 0;
          left: 0;
          width: 93px;
          height: 92px;
          background: url(../images/label_template.png) no-repeat;
          position: absolute;
        }
        img {
          width: auto;
          height: 100%;
        }

      }
      .content {

        width: 63%;
        float: left;
        position: relative;
        height: 100%;
        .header {

          width: 100%;
          background-color: $bg_color_1;
          padding: 10px;
          max-height: 65px;

          .title, .description {
            color: $color_1;
          }

          .title {
            font-size: 19px;
            font-weight: 400;
          }
          .description {
            font-size: 14px;
            font-weight: 300;
            font-style: italic;
          }
        }
        .text {

          padding: 10px;
          box-sizing: border-box;
          color: $color_4;
          font-size: 14px;
          font-weight: 300;
          max-height: 95px;

        }
        .additional {
          padding: 10px 10px 10px 10px;
          position: absolute;
          width: 100%;
          bottom: 0;
          box-sizing: border-box;
          border-top: 1px solid $border_color_2;
          .button {
            float: right;
            text-decoration: none;
          }
          @extend %clearfix;
        }
      }
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  .long_card_list {
    .additional {
      border-top: 0 !important;
    }
  }
}


// Icons

.home_icon {
  width: 16px;
  height: 14px;
  background: url(../images/home-6-icon.png) no-repeat;
  display: block;
}

.home_2_icon {
  width: 17px;
  height: 16px;
  background: url(../images/home_2_icon.png) no-repeat;
  display: block;
}

.message_icon {
  width: 12px;
  height: 13px;
  background: url(../images/message_icon.png) no-repeat;
  display: block;
}

.watch_icon {
  width: 17px;
  height: 12px;
  background: url(../images/watch_icon.png) no-repeat;
  display: block;
}

.grey_left_arrow_icon {
  width: 15px;
  height: 15px;
  background: url(../images/grey_left_arrow_icon.png) no-repeat;
  display: block;
}

.mail_icon {
  width: 25px;
  height: 25px;
  background: url(../images/mail_icon.png) no-repeat;
  display: block;
}

.phone_icon {
  width: 25px;
  height: 25px;
  background: url(../images/phone_icon.png) no-repeat;
  display: block;
}

.phone_3_icon {
  width: 25px;
  height: 25px;
  background: url(../images/phone_3_icon.png) no-repeat;
  display: block;
}

.mail_3_icon {
  width: 25px;
  height: 25px;
  background: url(../images/mail_3_icon.png) no-repeat;
  display: block;
}

.map_icon {
  width: 10px;
  height: 15px;
  background: url(../images/map_icon.png) no-repeat;
  display: block;
}

.map_2_icon {
  width: 12px;
  height: 17px;
  background: url(../images/map_2_icon.png) no-repeat;
  display: block;
}

.map_3_icon {
  width: 7px;
  height: 10px;
  background: url(../images/map_3_icon.png) no-repeat;
  display: block;
}

.map_4_icon {
  width: 7px;
  height: 10px;
  background: url(../images/map_4_icon.png) no-repeat;
  display: block;
}

.left_arrow_icon {
  width: 15px;
  height: 15px;
  background: url(../images/grey_left_arrow_icon.png) no-repeat;
  display: block;
}

.search_icon {
  width: 17px;
  height: 17px;
  background: url(../images/search_icon.png) no-repeat;
  display: block;
}

.star_icon {
  width: 23px;
  height: 22px;
  background: url(../images/star_icon.png) no-repeat;
  display: block;
}

.unactive_star_icon {
  width: 23px;
  height: 22px;
  background: url(../images/unactive_star_icon.png) no-repeat;
  display: block;
}

.star_2_icon {
  width: 34px;
  height: 32px;
  background: url(../images/star_2_icon.png) no-repeat;
  display: block;
}

.unactive_star_2_icon {
  width: 34px;
  height: 32px;
  background: url(../images/unactive_star_2_icon.png) no-repeat;
  display: block;
}

.unactive_star_2_yellow_icon {
  width: 33px;
  height: 32px;
  background: url(../images/unactive_star_2_yellow.png) no-repeat;
  display: block;
}

.top_arrow_icon {
  width: 13px;
  height: 10px;
  background: url(../images/top_arrow.png) no-repeat;
  display: block;
}

.bottom_arrow_icon {
  width: 13px;
  height: 10px;
  background: url(../images/bottom_arrow.png) no-repeat;
  display: block;
}

.menu_icon {
  width: 18px;
  height: 14px;
  background: url(../images/menu_icon.png) no-repeat;
  display: block;
}

.menu_2_icon {
  width: 32px;
  height: 24px;
  background: url(../images/menu_icon_2.png) no-repeat;
  display: block;
}

.arrow_next_icon {
  width: 50px;
  height: 30px;
  background: url(../images/arrow_next.png) no-repeat;
  display: block;
}

.pencil_icon {
  width: 37px;
  height: 37px;
  background: url(../images/pencil_icon.png) no-repeat;
  display: block;
}

.mail_2_icon {
  width: 15px;
  height: 11px;
  background: url(../images/mail_2_icon.png) no-repeat;
  display: inline-block;
}

.message_2_icon {
  width: 15px;
  height: 13px;
  background: url(../images/message_2_icon.png) no-repeat;
  display: inline-block;
}

.person_icon {
  width: 14px;
  height: 13px;
  background: url(../images/person_icon.png) no-repeat;
  display: inline-block;
}

.small_star_icon {
  width: 15px;
  height: 14px;
  background: url(../images/small_star_icon.png) no-repeat;
  display: block;
}

.unactive_small_star_icon {
  width: 15px;
  height: 14px;
  background: url(../images/unactive_small_star_icon.png) no-repeat;
  display: block;
}

.cash_icon {
  width: 25px;
  height: 25px;
  background: url(../images/cash_icon.png) no-repeat;
  display: block;
}

.active_cash_icon {
  width: 25px;
  height: 25px;
  background: url(../images/active_cash_icon.png) no-repeat;
  display: block;
}

.info_icon {
  width: 25px;
  height: 25px;
  background: url(../images/info_icon.png) no-repeat;
  display: block;
}

.active_info_icon {
  width: 25px;
  height: 25px;
  background: url(../images/active_info_icon.png) no-repeat;
  display: block;
}

.question_icon {
  width: 25px;
  height: 25px;
  background: url(../images/question_icon.png) no-repeat;
  display: block;
}

.active_question_icon {
  width: 25px;
  height: 25px;
  background: url(../images/active_question_icon.png) no-repeat;
  display: block;
}

.review_icon {
  width: 25px;
  height: 25px;
  background: url(../images/review_icon.png) no-repeat;
  display: block;
}

.active_review_icon {
  width: 25px;
  height: 25px;
  background: url(../images/active_review_icon.png) no-repeat;
  display: block;
}

.answer_top_icon {
  width: 34px;
  height: 7px;
  background: url(../images/answer_arrow.png) no-repeat;
  display: block;
}

.auto_icon {
  width: 22px;
  height: 11px;
  background: url(../images/auto_icon.png) no-repeat;
  display: block;
}

.blog_icon {
  width: 18px;
  height: 18px;
  background: url(../images/blog_icon.png) no-repeat;
  display: block;
}

.contact_icon {
  width: 20px;
  height: 16px;
  background: url(../images/contact_icon.png) no-repeat;
  display: block;
}

.key_icon {
  width: 17px;
  height: 18px;
  background: url(../images/key_icon.png) no-repeat;
  display: block;
}

.test_icon {
  width: 18px;
  height: 18px;
  background: url(../images/test_icon.png) no-repeat;
  display: block;
}

.check_icon {
  width: 25px;
  height: 25px;
  background: url(../images/check.png) no-repeat;
  display: block;
}

.plus_check_icon {
  width: 25px;
  height: 25px;
  background: url(../images/plus_check.png) no-repeat;
  display: block;
}

.uncheck_icon {
  width: 25px;
  height: 25px;
  background: url(../images/uncheck.png) no-repeat;
  display: block;
}

.cross_icon {
  width: 15px;
  height: 15px;
  background: url(../images/cross_icon.png) no-repeat;
  display: block;
}

.cross_icon {
  width: 15px;
  height: 15px;
  background: url(../images/cross_icon.png) no-repeat;
  display: block;
}

.pencil_2_icon {
  width: 13px;
  height: 13px;
  background: url(../images/pencil_2_icon.png) no-repeat;
  display: block;
}

.phone_2_icon {
  width: 14px;
  height: 14px;
  background: url(../images/phone_2_icon.png) no-repeat;
  display: block;
}

.calendar_icon {
  width: 14px;
  height: 14px;
  background: url(../images/calendar_icon.png) no-repeat;
  display: block;
}

.arrow_submit {
  width: 12px;
  height: 9px;
  background: url(../images/arrow_submit.png) no-repeat;
  display: block;
}

.q_icon {
  width: 15px;
  height: 13px;
  background: url(../images/q_icon.png) no-repeat;
  display: block;
}

.top_arrow_2_icon {
  width: 21px;
  height: 21px;
  background: url(../images/top_arrow_2_icon.png) no-repeat;
  display: block;
}

.icon.down_arrow_icon {
  width: 21px;
  height: 21px;
  background: url(../images/top_arrow_2_icon.png) no-repeat;
  display: block;
}

.down_big_arrow_icon {
  width: 50px;
  height: 30px;
  background: url(../images/down_big_arrow.png) no-repeat;
  display: block;
}

.small_left_arrow_icon {
  width: 9px;
  height: 12px;
  background: url(../images/small_left_arrow.png) no-repeat;
}

.small_bottom_arrow_icon {
  width: 13px;
  height: 10px;
  background: url(../images/small_bottom_arrow.png) no-repeat;
}

.unactive_star_4_icon {
  width: 24px;
  height: 22px;
  background: url(../images/unactive_star_3_icon.png) no-repeat;
}

.map_5_icon {
  width: 21px;
  height: 21px;
  background: url(../images/map_6_icon.png) no-repeat;
}

.left_blue_arrow_icon {
  width: 17px;
  height: 17px;
  background: url(../images/left_blue_arrow.png) no-repeat;
}

.adv_1 {
  width: 50px;
  height: 50px;
  background: url(../images/adv_1.png) no-repeat;
}
.adv_2 {
  width: 50px;
  height: 50px;
  background: url(../images/adv_2.png) no-repeat;
}
.adv_3 {
  width: 50px;
  height: 50px;
  background: url(../images/adv_3.png) no-repeat;
}
.adv_4 {
  width: 50px;
  height: 50px;
  background: url(../images/adv_4.png) no-repeat;
}
.adv_5 {
  width: 50px;
  height: 50px;
  background: url(../images/adv_5.png) no-repeat;
}
.adv_6 {
  width: 50px;
  height: 50px;
  background: url(../images/adv_6.png) no-repeat;
}
.plus_icon {
  width: 24px;
  height: 24px;
  background: url(../images/plus.png) no-repeat;
}
.minus_icon {
  width: 24px;
  height: 24px;
  background: url(../images/minus_icon.png) no-repeat;
}
.circle_icon {
  width: 8px;
  height: 8px;
  background: url(../images/circle_icon.png) no-repeat;
}
.special_circle_icon {
  width: 476px;
  height: 276px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: url(../images/D.png) no-repeat;
}

.right_thin_arrow {
  width: 13px;
  height: 21px;
  background: url(../images/right_thin_arrow_icon.png) no-repeat;
}

.b_arrow {
  width: 60px;
  height: 18px;
  background: url(../images/b_arrow.png) no-repeat;
}


// Header

#attention_message {

  background-color: $bg_color_1;
  text-align: center;
  height: 40px;
  line-height: 40px;

  .text, .button, .link {
    display: inline-block;
    color: $color_1;
    font-size: 16px;
  }

  .link {
    font-weight: bold;
    text-decoration: none;
    margin: 0 30px 0 5px;
  }

  .button {
    padding: 0 30px 0 30px;
    cursor: hand;
    background-color: $bg_color_5;
  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #attention_message {
    display: none;
  }
}

#mobile_menu {
  display: none;
}

@media screen and (min-width: 1141px) {
  #mobile_menu {
    display: none !important;
  }
  #school_list_filter {
    display: block !important;
  }
}

#stages_popup {
  display: none;
}

#kurs_popup {
  display: none;
  .popup_cnt {
    width: 600px;
  }
}

#quest_popup {
  display: none;
  .point_item {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 7px;
    color: #4a4a4a;
    .number {
      color: #3498db;
      margin-right: 7px;
    }
  }
}

#mobile_kurs {
  display: none;
}

@media screen and (min-width: 240px) and (max-width: 1140px) {

  #mobile_kurs {
    display: none;
    .header {
      text-align: center;
      .title {
        margin-top: 10px;
        font-size: 24px;
        font-weight: 300;
        color: $color_6;
      }
      .description {
        font-size: 18px;
        font-weight: 300;
        color: #6e6d6e;
      }
      .delimiter {
        width: 135px;
        height: 2px;
        margin: 10px auto 10px auto;
        background: $bg_color_1;
        @include border_radius(2px, 2px, 2px, 2px);
      }
      .text {
        color: #4a4a4a;
        font-size: 14px;
        font-weight: 300;
      }
    }
    .text_field {
      margin: 10px 15px 10px 15px;
      .placeholder {
        position: absolute;
        top: 10px;
        left: 10px;
        display: table;
        .icon {
          display: inline-block;
          margin-right: 5px;
        }
      }
      input[type=text] {
        padding: 10px;
      }
    }
    input[type=submit] {
      margin: 15px auto 15px auto;
      display: block;
      border: 0;
      background-color: #f5a623;
      border-radius: 4px;
      font-size: 17px;
      font-weight: 600;
      padding: 10px 40px 10px 40px;
      box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
    }
  }

}

.slider {
  overflow: hidden;
  .left_switcher {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 25%;
    z-index: 100;
    cursor: hand;
  }
  .right_switcher {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 25%;
    z-index: 100;
    cursor: hand;
  }
  ul.slider_children {
    width: 10000em;
    margin: 0;
    position: relative;
    padding: 0;
    li {
      float: left;
    }
  }
  .pagination {
    li {
      cursor: hand;
    }
  }
}

.popup {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  .close_cross {
    width: 44px;
    height: 44px;
    background: url(../images/close_cross_icon.png) no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: hand;
  }
  .bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(52, 151, 219, 0.5);
    z-index: -1;
  }
  .popup_cnt {
    width: 1000px;
    background-color: $bg_color_3;
    border: 1px solid #f5a623;
    border-radius: 3px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0 auto;
    padding: 40px;
    box-sizing: border-box;
    z-index: 100;
    position: relative;
    top: 80px;
    .text_field {
      margin: 0 100px 20px 100px;
      .placeholder {
        position: absolute;
        top: 10px;
        left: 10px;
        color: $color_3;
        .icon {
          margin-right: 5px;
          display: inline-block;
          position: relative;
          top: 2px;
        }
      }
      input[type=text] {
        padding: 10px;
        font-size: 16px;
        font-weight: 300;
      }
    }
    input[type=submit] {
      background-color: $bg_color_17;
      border-radius: 4px;
      color: white;
      border: 0;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
    .text {
      font-size: 18px;
      font-weight: 300;
    }
    .header {
      text-align: center;
      .title {
        margin-top: 10px;
        font-size: 36px;
        font-weight: 300;
        color: $color_6;
      }
      .description {
        font-size: 24px;
        font-weight: 300;
        color: #6e6d6e;
      }
      .delimiter {
        width: 135px;
        height: 2px;
        margin: 10px auto 20px auto;
        background: $bg_color_1;
        @include border_radius(2px, 2px, 2px, 2px);
      }
    }
    .text {
      color: #6e6d6e;
      font-size: 16px;
      font-weight: 400;
      margin: 0 0 20px 0;
    }
    table {
      border-radius: 3px;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
      overflow: hidden;
      thead {
        tr {
          background-color: #3498db;
          th {
            border-right: 1px solid white;
            padding: 15px 10px 15px 10px;
            font-size: 16px;
            font-weight: 600;
            color: white;
            &:last-child {
              border-right: 0;
            }
          }
        }
      }
      tbody {
        tr {
          td {
            text-align: center;
            padding: 15px 10px 15px 10px;
            border-right: 1px solid #979797;
            border-bottom: 1px solid #979797;
            color: $color_6;
            &:last-child {
              border-right: 0;
            }
          }
        }
      }
    }
    .button {
      display: table;
      margin: 20px auto 0 auto;
      font-size: 20px;
      font-weight: 600;
      color: $color_1;
      padding: 5px 60px 5px 60px;
      cursor: hand;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.left_align {
  text-align: left;
}

header {

  height: 65px;
  line-height: 65px;
  border-bottom: 2px solid $border_color_1;
  background: $bg_color_3;

  #logo {
    display: block;
    position: relative;
    top: 16px;
  }
  .menu_button {
    display: none;
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: block;
      float: right;
      @extend %clearfix;

      li {
        float: left;
        display: block;
        margin-left: 40px;
        a {
          color: $color_2;
          text-decoration: none;
          font-size: 16px;
          .home_icon {
            display: inline-block;
            margin-right: 5px;
          }
        }
      }

    }
  }
}


@media screen and (min-width: 240px) and (max-width: 1140px) {
  #mobile_menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: $bg_color_1;
    opacity: 0.9;
    z-index: 500;
    .menu_cnt {
      position: relative;
      top: 120px;
      ul {
        padding: 0;
        margin: 0;
        list-style: none;
        li {
          border-bottom: 1px solid white;
          &:last-child {
            border-bottom: 0px;
          }
          a {
            padding: 10px;
            text-decoration: none;
            color: $color_1;
            display: table;
            margin: 0 auto;
            width: 140px;
            .icon {
              display: inline-block;
              position: relative;
              top: 2px;
              margin-right: 8px;
              width: 25px;
            }
          }
        }
      }
    }
  }
  header {
    border-bottom: 1px solid $border_color_2;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    #logo {
      width: 180px;
      position: relative;
      top: 20px;
      margin-left: 15px;
      img {
        width: 100%;
      }
    }
    .menu_button {
      width: 65px;
      height: 100%;
      float: right;
      border-left: 1px solid $border_color_2;
      position: relative;
      cursor: hand;
      display: block;
      .menu_icon, .cross_icon {
        position: absolute;
        top: 25px;
        left: 25px;
      }
    }
    nav {
      display: none;
    }
  }
}


// Banner On Main Page

#main_banner {

  width: 100%;
  height: 80%;
  background: url(../images/main_banner.jpg) no-repeat;
  background-position-y: 50%;
  background-size: cover;
  position: relative;

  .arrow_next_icon {
    display: none;
  }

  .g_row {

    top: 20%;

    .mobile {
      display: none;
    }

    .text {
      text-align: center;
      color: $color_1;

      .header {
        margin: 0 0 5px 0;
        font-size: 48px;
        font-weight: 400;
      }

      .description {
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 10px;
        .bold {
          margin: 0 5px 0 5px;
          font-size: 28px;
          font-weight: 700;
          @include orange_bold_text;
        }
      }
    }


  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {

  #main_banner {

    display: block;
    background: $bg_color_13;
    height: 100%;
    position: relative;
    z-index: 10;

    .text {
      display: block;

      .header {
        display: none;
      }
      .description {
        display: none;
      }

      .mobile {
        display: block;
        .m_header {
          font-size: 28px;
          font-weight: 700;
          color: $color_1;
          margin: 0 auto;
          display: inline-block;
          padding-bottom: 5px;
        }
        .delimiter {
          width: 70px;
          height: 2px;
          background: $bg_color_3;
          @include border_radius(2px, 2px, 2px, 2px);
          margin: 0 auto;
        }
        .m_description {
          padding: 5px 10px 5px 10px;
          box-sizing: border-box;
          font-size: 16px;
          font-weight: 300;
        }
      }
    }

    .arrow_next_icon {
      display: block;
      position: absolute;
      bottom: 20px;
      left: 50%;
      margin-left: -25px;
    }
  }
}


// Advantages On Main Page

#advantages {

  padding: 50px 0 50px 0;

  .advantage {

    text-align: center;
    box-sizing: border-box;

    img {
      width: 200px;
      height: auto;
      margin: 0 auto;
    }

    .header {
      color: $color_5;
      font-size: 24px;
      font-weight: 400;
      margin: 15px 0 15px 0;
    }

    .text {
      color: $color_6;
      font-size: 18px;
      font-weight: 300;
      padding: 0 40px 0 40px;
      box-sizing: border-box;
    }

  }

}


@media screen and (min-width: 240px) and (max-width: 1140px) {
  #advantages {

    padding: 25px 0 25px 0;
    background-color: $bg_color_21;

    .advantage {
      padding-bottom: 25px;
      z-index: 0 !important;
      .header {
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 5px;
      }
      .delimiter {
        width: 70px;
        height: 1px;
        background: $bg_color_1;
        @include border_radius(2px, 2px, 2px, 2px);
        margin: 0 auto;
      }
      .text {
        margin-top: 5px;
        font-size: 14px;
        font-weight: 300;
      }
    }
  }
}


// Schools On Main Page

#schools_screen {
  .mobile_block {
    display: none;
  }
  .load_more {
    display: none;
  }
  .schools.card_list {
    .card_item {
      .image {
        .tip {
          display: none;
        }
        .content {
          width: 100%;
          height: 100%;
        }
      }
      .raiting {
        position: absolute;
        background-color: $bg_color_7;
        padding: 4px 8px 4px 8px;
        @include border_radius(4px, 0, 0, 4px);
        font-size: 14px;
        line-height: 19px;
        font-weight: 400;
        color: $color_1;
        right: 0;
        top: 15px;
        z-index: 10;
        .current {
          font-size: 20px;
          line-height: 27px;
        }
      }
      .school_content {
        .title {
          font-size: 18px;
          font-weight: 400;
        }
        .description {
          border-bottom: 1px solid $border_color_2;
          font-size: 12px;
          font-weight: 300;
          font-style: italic;
          .map_2_icon {
            display: none;
          }
        }
      }
      .button_container {
        text-align: center;
        .button {
          display: inline-block;
          margin: 12px auto 12px auto;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #schools_screen {

    padding-bottom: 25px;
    background-color: $bg_color_3;

    .header {
      h2 {
        //color: $color_1;
        font-size: 38px;
        border-color: $border_color_3;
      }
      .delimeter {
        //background-color: $bg_color_3;
      }
      .description {
        //color: $color_1;
        font-size: 18px;
      }
    }

    .block {
      padding: 10px;
      .title {
        //color: $color_1;
      }
      .description {
        //color: $color_1;
      }
    }

    .mobile_block {
      display: block;
      .attention {
        font-size: 12px;
        font-weight: 400;
        padding: 5px 2px 0 2px;
        color: $color_6;
        .stage {
          margin: 0 5px 0 5px;
          color: $color_4;
        }
        .price {
          margin: 0 5px 0 5px;
          color: $color_2;
        }
      }
      .feedback {
        font-size: 12px;
        font-weight: 400;
        padding: 5px 0 0 3px;
        position: relative;
        color: $color_6;
        top: -4px;
        .star_raiting {
          position: absolute;
          left: 45px;
          top: 4px;
          .star_2_icon, .unactive_star_2_icon {
            float: left;
            width: 18px;
            height: 17px;
            background-size: cover;
          }
        }
        .review_counters {
          .bold {
            margin-left: 5px;
            color: $color_4;
          }
        }
      }
    }

    .load_more {
      background-color: $bg_color_14;
      padding: 5px 10px 5px 10px;
      color: $color_2;
      display: table;
      margin: 25px auto 0 auto;
      cursor: hand;
      @include border_radius(5px, 5px, 5px, 5px);
      @include box_shadow(0, 1px, 4px, 0, rgba(0, 0, 0, 0.5));
    }

    .card_list {
      border-top: 1px solid $bg_color_1;
    }

    .card_item {
      width: 100%;
      padding: 10px;
      border-bottom: 2px solid $border_color_1;
      box-sizing: border-box;
      .content {
        @include box_shadow(0, 0, 0, 0, black);
        @extend %clearfix;
        .raiting {
          display: none;
        }
        .image {
          box-sizing: border-box;
          width: 85px;
          height: 85px;
          margin-top: 17px;
          float: left;
          position: absolute;
          top: 0;
          left: 0;
          @include border_radius(5px, 5px, 5px, 5px);
          @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
          &:after {
            content: "";
            display: block;
            padding-bottom: 100%;
          }
          .tip {
            display: block !important;
            z-index: 10;
            position: absolute;
            top: 7px;
            left: 7px;
            font-size: 10px;
            font-weight: 600;
            padding-right: 8px;
            padding-left: 8px;
            text-transform: uppercase;
          }
          .content {
            position: absolute;
            width: 100%;
            height: 100%;
            background-position-x: center;
            background-position-y: center;
            background-size: cover;
          }
        }
        .block {
          width: 100%;
          float: left;
          padding-left: 100px;
          box-sizing: border-box;
          .title {
            font-size: 13px !important;
            font-weight: 400 !important;
          }
          .description {
            padding: 0 0 5px 0;
            font-size: 10px !important;
            font-weight: 300 !important;
            .map_2_icon {
              display: inline-block !important;
              margin-right: 3px;
              position: relative;
              top: 1px;
              width: 8px;
              height: 12px;
              background-size: cover
            }
          }
          .text {
            display: none;
          }
        }
        .button_container {
          display: none;
        }
      }
    }
  }
}


// Mobile Promo Image

#mobile_promo {
  background: $bg_color_15;
  padding-top: 0;
  padding-bottom: 0;
  .header {
    display: none;
  }
  .content {
    color: $color_1;
    margin-top: 150px;
    .header_additional {
      text-align: left;
      .first_part {
        font-size: 48px;
        font-weight: 300;
      }
      .second_part {
        font-size: 48px;
        font-weight: 400;
      }
    }
    .text {
      font-size: 20px;
      margin: 10px 20px 10px 0;
      font-weight: 300;
      .year {
        font-weight: 400;
      }
    }
  }
  .badges {
    margin-top: 60px;
    .store_badge {
      margin-right: 10px;
    }
  }
  .mobile_image {
    margin: 65px 0 15px 0;
  }
  .attention {
    font-size: 18px;
    font-weight: 300;
    margin: 5px 0 35px 0;
    color: $color_1;
    text-align: center;
    a {
      margin-left: 5px;
      color: $color_1;
      border-bottom: 1px dashed $border_color_4;
      text-decoration: none;
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #mobile_promo {

    background-color: $bg_color_15;
    padding-bottom: 20px;

    .header {
      display: block;
      padding-top: 20px;
      h2, .description {
        color: $color_1;
      }
      .delimeter {
        background-color: $bg_color_3;
      }
    }

    .mobile_position {
      position: absolute;
      bottom: 0;
    }
    .content {
      display: none;
      .header {
      }
      .text {

      }
    }

    .badges {
      text-align: center;
    }

    .mobile_image {
      margin: 20px auto 100px auto;
      width: 50%;
      display: block;
    }
    .attention {
      display: none;
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 525px) {

  .badges {
    text-align: center;
    .store_badge {
      img {
        width: 200px;
      }
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 440px) {

  .badges {
    text-align: center;
    .store_badge {
      img {
        width: 120px;
      }
    }
  }
}


// Articles On Main Page

#articles_screen {
  .articles {
    .button_container {
      position: absolute;
      top: 10px;
      left: 10px;
      .button {
        font-size: 16px;
        font-weight: 400;
        text-transform: uppercase;
        text-decoration: none;
        padding: 2px 5px 2px 5px;
        @include border_radius(8px, 8px, 8px, 8px);
      }
    }
    .image {
    }
    .article_content {
      .title {
        padding-bottom: 5px;
        border-bottom: 1px solid $border_color_2;
        font-size: 16px;
        font-weight: 400;
      }
      .text {

      }
    }

    .media_content {

      padding: 10px;
      font-size: 13px;
      font-weight: 600;

      .message_count, .watch_count {
        display: inline-block;
        margin-right: 10px;
        cursor: hand;
      }

      .message_count {
        .message_icon {
          margin-right: 3px;
          position: relative;
          top: 2px;
          display: inline-block;
        }
      }

      .watch_count {
        .watch_icon {
          margin-right: 3px;
          position: relative;
          top: 2px;
          display: inline-block;
        }
      }

      .more {
        float: right;
        cursor: hand;
        .left_arrow_icon {
          margin-left: 5px;
          position: relative;
          top: 3px;
          display: inline-block;
        }
      }

    }

  }

  .blog_link {
    color: $color_6;
    text-decoration: none;
    border-bottom: 1px dashed $border_color_3;
  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {

  #articles_screen {
    display: none;
  }

}


// Location On Main Page

#location_screen {

  background-color: $bg_color_3;

  .header {
    h2 {
      color: $color_5;
    }
  }

  .content {
    margin-top: 60px;
    .text {
      color: $color_6;
      margin-bottom: 20px;
      font-size: 18px;
      font-weight: 300;
    }
  }

  .image {
    padding: 0 10px 0 10px;
    box-sizing: border-box;
    margin-top: 25px;
    img {
      width: 100%;
      height: auto;
    }
  }

  .buttons {
    width: 400px;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: $bg_color_3;
    border: 2px solid $border_color_5;
    @include border_radius(5px, 5px, 5px, 5px);
    @extend %clearfix;
    .button {
      float: left;
      width: 50%;
      padding: 15px;
      box-sizing: border-box;
      text-align: center;
      cursor: hand;
      color: $color_6;
      .map_2_icon {
        display: inline-block;
        margin-right: 10px;
        position: relative;
        top: 2px;
      }
      &.active {
        color: $color_1;
        background-color: $bg_color_22;
        .map_2_icon {
          background: url(../images/map_5_icon.png) no-repeat;
        }
      }
    }
  }

  #praha_cnt {

  }
  #ceshka_cnt {
    display: none;
  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {

  #location_screen {
    display: none;
  }

}

// Footer

footer {

  background-color: $bg_color_4;
  padding: 15px 0 15px 0;

  .title {
    color: $color_1;
    font-size: 20px;
    font-weight: 300;
    margin: 10px 0 10px 0;
  }

  .contact {
    font-size: 18px;
    color: $color_1;
    margin: 0 0 10px 0;

    .mail_icon, .phone_icon {
      display: inline-block;
      margin-right: 15px;
      position: relative;
      top: 6px;
    }

    .mail, .number {
      color: $color_1;
      text-decoration: none;
      font-size: 20px;
      font-weight: 300;
    }

  }

  .list {

    margin: 0;
    padding: 0;
    list-style: none;

    li {
      a {
        font-size: 16px;
        font-weight: 300;
        color: $color_3;
        text-decoration: none;
      }
      .plus {
        font-size: 16px;
        font-weight: 700;
        color: $color_1;
        margin-left: 5px;
        cursor: hand;
      }
    }

  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {

  .no_mobile {
    display: none;
  }

  footer {

    @extend %clearfix;

    .title {
      text-align: center;
    }

    .contact {
      width: 50%;
      float: left;
      text-align: center;
      a {
        font-size: 13px;
      }
    }

    .no_mobile {
      display: none;
    }
  }

}

@media screen and (min-width: 240px) and (max-width: 450px) {
  footer {
    .number, .mail {
      font-size: 17px !important;
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 390px) {
  footer {
    .number, .mail {
      font-size: 13px !important;
    }
  }
}

// Footer Copyright

.copyright_container {

  background-color: $bg_color_4;
  padding: 5px 0 5px 0;
  border-top: 1px solid $border_color_2;
  border-bottom: 2px solid $border_color_2;

  .copyright {

    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: $color_7;

    .cp_symbol {
      font-size: 13px;
      color: $color_8;
    }

    a {
      text-decoration: none;
      margin-left: 5px;
      color: $color_1;
      font-size: 12px;
    }

  }
}

// Schools Catalog

.text_field, .select_field {
  margin-bottom: 12px;
}

.text_field {
  position: relative;
  color: $color_6;
  .map_icon, .map_2_icon {
    position: absolute;
    top: 10px;
    right: 8px;
  }
  input[type=text] {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    box-sizing: border-box;
    border: 2px solid $border_color_1;
    @include border_radius(3px, 3px, 3px, 3px);
  }
}

.textarea_field {
  position: relative;
  textarea {
    width: 100%;
    padding: 5px;
    font-size: 13px;
    box-sizing: border-box;
    border: 1px solid $border_color_1;
    @include border_radius(3px, 3px, 3px, 3px);
  }
}

.select_field {
  position: relative;
  .fake_select_box {
    position: relative;
    width: 100%;
    padding: 5px;
    cursor: hand;
    color: #6e6d6e;
    box-sizing: border-box;
    border: 2px solid #3398db;
    -webkit-border-radius: 3px 3px 3px 3px;
    -moz-border-radius: 3px 3px 3px 3px;
    border-radius: 3px 3px 3px 3px;
    .label {
      font-size: 16px;
      font-weight: 300;
    }
    .arrow_submit {
      position: absolute;
      top: 12px;
      right: 6px;
    }
  }
  ul.items {
    display: none;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 100%;
    position: absolute;
    top: 35px;
    z-index: 100;
    li {
      cursor: hand;
      padding: 5px;
      border: 1px solid $border_color_1;
      border-bottom: 0;
      font-size: 14px;
      font-weight: 300;
      color: $color_6;
      background-color: $bg_color_3;
      z-index: 100;
      &:last-child {
        border-bottom: 1px solid $border_color_1;
      }
    }
  }
  select {
    display: none;
    width: 100%;
    padding: 5px;
    color: #6e6d6e;
    font-size: 13px;
    box-sizing: border-box;
    border: 2px solid $border_color_1;
    @include border_radius(3px, 3px, 3px, 3px);
  }
}

.checkbox_field {

  margin: 15px 0 15px 0;
  cursor: hand;
  @extend %clearfix;


  input[type=checkbox] {
    display: none;
  }

  .fake_checkbox {
    float: left;
    cursor: hand;
  }
  .label {
    float: left;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 300;
    color: #4a4a4a;
  }

  &.plus_checkbox_field {

  }

  &.check_checkbox_field {

  }

}


#school_catalog {

  margin-top: 25px;

  .banner {
    width: 100%;
    display: block;
    margin-top: 15px;
    img {
      width: 100%;
      height: auto;
    }
  }

  #school_list_nav_panel {
    display: none;
  }

  #school_list_filter {

    background: $bg_color_3;
    border: 1px solid $border_color_1;
    padding: 20px;
    box-sizing: border-box;
    @include border_radius(5px, 5px, 5px, 5px);
    @include box_shadow(0, 1px, 2px, 0, $bg_color_10);

    .header {
      font-size: 18px;
      font-weight: 300;
      color: $color_6;
      padding-bottom: 10px;
    }

    .range_field {
      margin: 15px 0 15px 0;
      .label {
        color: $color_6;
        font-size: 18px;
        font-weight: 300;
        margin-bottom: 20px
      }
      .current_price_of, .current_price_to {
        font-size: 14px;
        font-weight: 300;
        margin-top: 10px;
        color: $color_6;
        .value {
          margin: 0 5px 0 5px;
          font-size: 16px;
          font-weight: 600;
        }
      }
      .price_container {
        position: relative;
        width: 92%;
        left: 1px;
      }
      .price_slider {
        position: static !important;
        width: 107% !important;
        .ui-slider-range {
          margin-left: 0 !important;
        }
      }
      .current_price_of {
        float: left;
      }
      .current_price_to {
        float: right;
      }
      @extend %clearfix;
    }

    .small_header {
      color: $color_6;
      font-size: 18px;
      font-weight: 300;
      padding-bottom: 5px;
      border-bottom: 1px solid $border_color_6;
    }

    #map_field, #stage_field, #type_field {
      font-size: 16px;
      font-weight: 300;

    }

    #map_field {
      &::-webkit-input-placeholder {color: $color_6;}
      &::-moz-placeholder          {color: $color_6;}/* Firefox 19+ */
      &:-moz-placeholder           {color: $color_6;}/* Firefox 18- */
      &:-ms-input-placeholder      {color: $color_6;}
    }

  }

  #school_list {

    .header_container {

      @extend %clearfix;

      .header {
        top: 10px;
        position: relative;
        float: left;
        color: $color_6;
        font-size: 18px;
        font-weight: 300;

        .count, .place {
          margin: 0 5px 0 5px;
          font-weight: 600;
        }
      }

      .select_place_item {

        float: right;
        color: $color_6;

        .label {
          color: #6e6d6e;
          display:  inline-block;
          font-size: 18px;
          font-weight: 300;
          margin-right: 15px;
          margin-top: 2px;
        }

        #place_item {
          font-size: 16px;
          font-weight: 300;
          border: 2px solid #478cba;
          padding: 3px;
          @include border_radius(3px, 3px, 3px, 3px);
          position: relative;
          top: -2px;
        }

        .select_field {
          display:  inline-block;
          width: 150px;
          .label {
            font-size: 16px;
            font-weight: 300;
          }
        }

      }

    }


    .long_card_list {

      padding: 15px 0 0 0;
      border-top: 1px solid $border_color_5;

      .card_item {

        // Raiting

        .tip {
          display: none;
          z-index: 10;
          position: absolute;
          top: 7px;
          left: 7px;
          font-size: 10px;
          font-weight: 600;
          padding-right: 8px;
          padding-left: 8px;
          text-transform: uppercase;
        }

        .feedback {
          position: absolute;
          top: 7px;
          right: 10px;

          .star_raiting {

            display: block;
            @extend %clearfix;

            li {
              float: left;
            }

          }

          .review_counters {

            margin-top: 2px;
            font-size: 14px;
            font-weight: 400;
            text-align: right;
            color: $color_1;

            .counter {
              margin: 0 5px 0 0;
            }

            a {
              margin: 0 0 0 5px;
              color: $color_1;
              text-decoration: none;
              border-bottom: 1px dashed $border_color_4;
            }

          }


        }

        .attention {

          float: left;
          color: $color_6;
          font-size: 16px;

          .stage, .price {
            margin: 0 5px 0 5px;
          }

          .stage {
            color: $color_4;
            font-size: 18px;
          }

          .price {
            font-size: 18px;
            color: $color_5;
          }

        }

        .recenzes {
          display: none;
        }

      }
    }

  }
  #razeni_filter {
    display: none;
  }
}


@media screen and (min-width: 240px) and (max-width: 1140px) {

  .long_card_list {
    padding-top: 0 !important;
    border-top: 0 !important;
    .card_item {
      padding: 10px 0 10px 0;
      border-bottom: 2px solid $border_color_1;
      &:last-child {
        border-bottom: 0;
      }
      .container {
        height: 100px;
        @include box_shadow(0px, 0px, 0px, 0, $bg_color_10);
        .image {
          width: 85px;
          float: left;
          height: 85px;
          overflow: hidden;
          margin: 8px 0 0 11px;
          position: absolute;
          @include border_radius(5px, 5px, 5px, 5px);
          img {
            height: 100%;
            width: auto;
            left: -19%;
            position: relative;
          }
          .label {
            display: none;
          }
          .tip {
            display: block !important;
          }
        }
        .content {
          width: 100%;
          padding-left: 100px;
          box-sizing: border-box;
          float: left;
          .header {
            width: 100%;
            padding-top: 0;
            padding-bottom: 3px;
            background-color: initial;
            max-height: 65px;

            .title {
              color: $color_4;
              font-size: 13px;
              font-weight: 400;
            }
            .description {
              color: $color_6;
              font-size: 10px;
              font-weight: 300;
              font-style: italic;
              padding-bottom: 5px;
              border-bottom: 1px solid $border_color_2;
            }
            .feedback {
              display: none;
            }
          }
          .text {
            display: none;
          }
          .additional {
            padding-top: 0;
            position: static;
            .attention {
              font-size: 12px !important;
              font-weight: 400;
              float: none !important;
              .stage {
                font-size: 12px !important;
              }
              .price {
                font-size: 12px !important;
              }
            }
            .recenzes {
              display: block !important;
              font-size: 12px;
              font-weight: 400;
              color: $color_6;
              .raiting {
                display: inline-block;
                padding: 0;
                margin: 0;
                position: relative;
                top: 3px;
                @extend %clearfix;
                li {
                  float: left;
                  width: 16px;
                  height: 15px;
                  background-size: cover;
                  margin-right: 1px;
                }
              }
              .name {
                .value {
                  color: $color_4;
                  margin: 0 5px 0 5px;
                }
              }
            }
            .button {
              display: none;
            }
          }
        }
      }
    }
  }


  #school_catalog {
    margin-top: 65px;
    #school_list_nav_panel {
      display: block;
      #filter_open, #razeni_open {
        width: 50%;
        float: left;
        cursor: hand;
        font-size: 14px;
        font-weight: 400;
        padding: 10px;
        box-sizing: border-box;
        background-color: $bg_color_16;
        color: $color_3;
        border-bottom: 1px solid $border_color_2;
        .arrow_icon {
          width: 15px;
          height: 15px;
          background: url(../images/arrow_down_icon.png) no-repeat;
          display: inline-block;
          margin-right: 5px;
          position: relative;
          top: 2px;
        }
        &.active {
          color: $color_6;
          .arrow_icon {
            background: url(../images/arrow_top_icon.png) no-repeat;
          }
        }
      }
      #filter_open {
        border-right: 1px solid $border_color_2;
      }
    }

    #school_list_filter {
      padding: 0;
      border: 0;
      display: none;
      @include box_shadow(0px, 0px, 0px, 0, $bg_color_10);
      .header {
        display: none;
      }
      .range_field {
        display: none;
      }
      .small_header {
        display: none;
      }
      .checkbox_field {
        display: none;
      }
      form {
        padding: 20px 15px 20px 15px;
        margin-bottom: 0;
        box-sizing: border-box;
        input, select {
          border-width: 2px;
        }
      }

    }

    #school_list {
      .breadcrumbs {
        display: none;
      }
      .header_container {
        margin: 0 0 10px 0;
        @include box_shadow(0px, 1px, 2px, 0, $bg_color_10);
        .header {
          background-color: $bg_color_1;
          width: 100%;
          text-align: center;
          font-size: 14px;
          font-weight: 400;
          color: $color_1;
          padding: 10px 0 10px 0;
        }
        .select_place_item {
          display: none;
        }
      }
    }


    .banner {
      display: none;
    }

  }

  #razeni_filter {
    form {
      padding: 20px 15px 20px 15px;
      margin-bottom: 0;
      box-sizing: border-box;
      input, select {
        border-width: 2px;
        font-size: 16px;
        font-weight: 300;
        color: $color_6;
      }
    }
  }

}



// School Card

#school_card {

  .breadcrumbs {
    margin: 10px 0 10px 0;
    font-size: 13px;
  }

  .title {
    font-size: 48px;
    font-weight: 300;
    margin: 0;
    color: $color_6;
  }

  .slider {
    position: relative;
    @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
    img {
      width: 100%;
      height: auto;
    }
    .label {
      top: 0;
      left: -1px;
      width: 93px;
      height: 92px;
      background: url(../images/label_template.png) no-repeat;
      position: absolute;
    }
    .pagination {
      display: block;
      position: absolute;
      bottom: 10px;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: center;
      li {
        display: inline-block;
        margin: 0 5px 0 5px;
        width: 10px;
        height: 10px;
        background-color: white;
        opacity: 0.5;
        @include border_radius(5px, 5px, 5px, 5px);
        &.active {
          opacity: 1;
          background: $bg_color_1;
        }
      }
    }
  }

  .description {
    font-size: 18px;
    font-weight: 300;
    font-style: italic;
    color: $color_6;
    .map_2_icon {
      display: inline-block;
      margin-right: 7px;
      position: relative;
      top: 3px;
    }
  }

  .content {

    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid $border_color_3;

    .header, p {
      color: $color_6;
    }

    .header {
      font-size: 18px;
      font-weight: 400;
    }

    p {
      margin: 5px 0 5px 0;
      font-size: 16px;
      font-weight: 300;
    }

  }

  .feedback {
    position: absolute;
    top: 7px;
    right: 10px;

    .star_raiting {

      display: block;
      margin: 7px 0 7px 0;
      @extend %clearfix;

      li {
        float: left;
      }

    }

    .review_counters {

      font-size: 18px;
      font-weight: 400;
      text-align: right;
      color: $color_4;

      .counter {
        margin: 0 5px 0 0;
      }

      a {
        margin: 0 0 0 5px;
        font-size: 18px;
        font-weight: 400;
        color: $color_4;
        text-decoration: none;
        border-bottom: 1px dashed $border_color_7;
      }

    }


  }


}

// School Table

#school_table {

  margin: 20px 0 20px 0;

  table {

    width: 100%;
    height: auto;
    overflow: hidden;
    @include border_radius(3px, 3px, 3px, 3px);
    @include box_shadow(0, 1px, 2px, 0, $bg_color_10);

    .header {
      width: 100%;
      background-color: $bg_color_1;
      border-bottom: 1px solid $border_color_5;
      @include border_radius(5px, 5px, 0, 0);
      @include box_shadow(0, 2px, 1px, 0, $bg_color_10);

      th {
        padding: 10px 5px 10px 5px;
        color: $color_1;
        font-size: 16px;
        font-weight: 400;
      }

    }
    .row {
      background-color: $bg_color_3;
      td {
        padding: 10px 5px 10px 5px;
        text-align: center;
        font-weight: normal;
        color: $color_6;
        font-size: 16px;
        border-bottom: 1px solid $border_color_5;
        .button {
          font-size: 14px;
          font-weight: 600;
          text-decoration: none;
          cursor: hand;
        }
      }
      &:nth-child(even) {
        background-color: $bg_color_12;
      }
    }
    .union_row {
      background-color: $bg_color_1;
      td {
        padding: 10px 0 10px 0;
        color: $color_1;
        text-align: center;
        border-bottom: 1px solid $border_color_5;
        cursor: hand;
        .bottom_arrow_icon, .top_arrow_icon {
          display: inline-block;
          margin-left: 5px;
        }
      }
    }
    .links_row {
      td {
        background-color: $bg_color_3;
        padding: 10px 0 10px 0;
        text-align: center;
        border-bottom: 1px solid $border_color_5;
        color: $color_6;
        a {
          font-size: 14px;
          font-weight: 300;
          text-decoration: none;
          margin: 0 5px 0 5px;
          color: $color_6;
          border-bottom: 1px dashed $border_color_3;
        }
      }
    }
    .open_popup_row {
      display: table-row;
      .left {
        text-align: left;
        padding-left: 25px;
      }
    }
  }

}

// School Additional Content

#school_additional_content, #review_additional_content {

  margin-bottom: 20px;

  .bars {
    .bar {
      display: none;
      &.active {
        display: block;
      }
    }
  }

  .offer {

    padding-bottom: 20px;
    @include border_radius(3px, 3px, 3px, 3px);
    @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
    overflow: hidden;


    .header {
      background-color: $bg_color_1;
      text-align: center;
      padding: 10px;
      color: $color_1;
      font-size: 18px;
      font-weight: 400;
    }

    .content {
      @extend %clearfix;
      .image {
        width: 35%;
        padding: 10px;
        box-sizing: border-box;
        float: left;
        .cnt {
          overflow: hidden;
          border: 2px solid #979797;
          overflow: hidden;
          @include border_radius(35px, 35px, 35px, 35px);
          img {
            width: 100%;
            height: auto;
          }
        }

      }
      .personal_date {
        width: 65%;
        float: left;
        margin-top: 15px;
        padding: 0 5px 0 5px;
        box-sizing: border-box;
        .name {
          font-size: 16px;
          font-weight: 400;
        }
        .description {
          font-size: 14px;
          font-weight: 300;
        }
      }

    }

    .quote {
      margin: 10px 0 15px 0;
      padding: 0 10px 0 10px;
      box-sizing: border-box;
      text-align: center;
      font-size: 18px;
      font-weight: 300;
      font-style: italic;
      color: $color_6;
    }

    .button {
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      padding: 5px 10px 5px 10px;
    }

  }

  .banner {
    display: block;
    margin: 20px 0 0 0;
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }

  .additional_content {
    .header, p {
      color: $color_6;
    }

    .header {
      font-size: 18px;
      font-weight: 400;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      line-height: 19px;
      margin: 5px 0 5px 0;
    }
  }

  .advantages {

    margin-top: 10px;

    .header {
      font-size: 18px;
      font-weight: 400;
      color: $color_6;
    }

    ul {

      padding: 0;
      margin: 10px 0 0 0;
      list-style: none;
      @extend %clearfix;

      li {

        width: 20%;
        height: auto;
        float: left;
        padding: 10px;
        box-sizing: border-box;

        img {
          margin: 0 auto;
          display: block;
          max-width: 100%;
        }
        .text {
          text-align: center;
          font-size: 16px;
          font-weight: 300;
        }

      }

    }
  }

  .container {
    padding-bottom: 20px;
    @include border_radius(0, 5px, 5px, 5px);
    @include box_shadow(0px, 1px, 2px, 0, rgba(0, 0, 0, 0.5));
  }

  .questions_bar {
    .header {
      padding-top: 20px;
    }
  }

  .questions {
    padding-top: 25px;

    ul.navigation {
      padding: 0;
      margin: 0;
      @extend %clearfix;
      li {
        float: left;
        padding: 5px 10px 5px 10px;
        font-size: 18px;
        font-weight: 400;
        background-color: $bg_color_2;
        margin-right: 10px;
        @include border_radius(3px, 3px, 0, 0);
        @include box_shadow(0px, 1px, 2px, 0, rgba(0, 0, 0, 0.5));
        cursor: hand;
        color: $color_6;
        &.active {
          border-bottom: 1px solid $border_color_2;
          color: $color_1;
          background-color: $bg_color_1;
        }
      }
    }

    ul.contents {
      padding: 0;
      margin: 0;
      list-style: none;
      li.item {
        display: none;
        &.active {
          display: block;
        }
        .header {
          padding: 10px 20px 20px 20px;
          background: $bg_color_1;
          position: relative;
          .title {
            color: $color_1;
            font-size: 20px;
            font-weight: 400;
            position: relative;
            top: 5px;
            .raiting {
              display: inline-block;
              position: relative;
              top: 7px;
              ul.stars {
                padding: 0;
                margin: 0 10px 0 10px;
                list-style: none;
                float: left;
                @extend %clearfix;
                li {
                  float: left;
                }
              }
              .grade {
                float: left;
                .first {

                }
              }
            }
          }
          .description {
            color: $color_1;
            font-size: 14px;
            font-weight: 400;
          }
          .send_review, .link{
            position: absolute;
            right: 20px;
            top: 22px;
            cursor: hand;
            .send {
              font-size: 18px;
              font-weight: 300;
              color: $color_1;
              float: left;
              position: relative;
              top: 5px;
              border-bottom: 1px dashed white;
            }
            .pencil_icon {
              float: right;
              margin-left: 10px;
            }
          }
          .send_question {
            top: 11px;
          }
        }
      }
    }


    .feedback_form, .question_form {

      background: $bg_color_2;
      border: 1px solid $border_color_8;
      display: none;

      .title {
        text-align: center;
        color: $color_6;
        font-size: 18px;
        font-weight: 400;
        padding: 20px 0 20px 0;
      }
      ul.stars {
        padding: 0;
        margin: 0;
        list-style: none;
        display: table;
        margin: 0 auto;
        @extend %clearfix;
        li {
          margin: 0 2px 0 2px;
          float: left;
          cursor: hand;
        }
      }
      .description {
        color: $color_6;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0 10px 0;
        text-align: center;
      }
      form {
        padding: 10px 40px 10px 40px;
        box-sizing: border-box;
        @extend %clearfix;
        .text_fields {
          width: 50%;
          float: left;
          padding: 0 20px 0 10px;
          box-sizing: border-box;
          .text_field {
            position: relative;
            .placeholder {
                font-size: 13px;
                font-weight: 300;
                color: $color_3;
                position: absolute;
                top: 8px;
                left: 15px;
                text-align: center;
                cursor: hand;
                .mail_2_icon, .person_icon {
                  top: 2px;
                  position: relative;
                  margin-right: 5px;
                  display: inline-block;
                }
            }
            input[type="text"] {
              padding: 8px;
              border-width: 2px;
            }
          }
        }
        .textarea_field {
          width: 50%;
          float: left;
          .placeholder {
            color: $color_3;
            position: absolute;
            top: 8px;
            left: 15px;
            text-align: center;
            cursor: hand;
            font-size: 13px;
            font-weight: 300;
            .message_2_icon {
              position: relative;
              top: 3px;
              margin-right: 5px;
              display: inline-block;
            }
          }
          textarea {
            padding: 8px;
            border-width: 2px;
            height: 89px;
          }
        }
        .submit {
          width: 100%;
          float: left;
          text-align: center;
          input[type=submit] {
            border: 0;

          }
        }
      }
    }


    .load_more {
      display: table;
      margin: 0 auto;
      color: $color_2;
      font-size: 14px;
      font-weight: 400;
      padding: 8px 35px 8px 35px;
      cursor: hand;
    }

    .reviews_list {
      padding: 10px 20px 10px 20px;
      margin: 0;
      list-style: none;
      .answer {
        background-color: $bg_color_20;
        padding: 15px 15px 15px 85px;
        margin-top: 15px;
        margin-left: 55px;
        position: relative;
        @include border_radius(5px, 5px, 5px, 5px);
        .image {
          .cnt {
            position: absolute;
            top: 2px;
            left: 7px;
            width: 54px;
            height: 54px;
            border: 2px solid $border_color_1;
            @include border_radius(30px, 30px, 30px, 30px);
            overflow: hidden;
            img {
              width: 100%;
              height: auto;
            }
          }
        }
        .answer_top_icon {
          top: -7px;
          left: 20px;
          position: absolute;
        }
        .answer_text {
          color: $color_6;
          font-size: 12px;
          font-weight: 300;
        }
        .answer_name {
          color: $color_6;
          font-size: 12px;
          font-weight: 300;
          margin: 5px 0 5px 0;
        }
        .answer_state {
          color: $color_3;
          font-size: 12px;
          font-weight: 300;
        }
      }
      li {
        display: block;
        padding: 10px 0 10px 0;
        border-bottom: 1px solid $border_color_2;
        &:last-child {
          border-bottom: 0;
        }
        .title {
          color: $color_6;
          font-size: 14px;
          font-weight: 400;
          @extend %clearfix;
          .raiting {
            display: inline-block;
            ul.stars {
              float: left;
              padding: 0;
              margin: 0 10px 0 10px;
              position: relative;
              top: 6px;
              border: 0;
              li {
                float: left;
                padding: 0;
                border: 0;
              }
            }
            .grade {
              float: left;
              position: relative;
              top: 4px;
            }
          }
        }
        .text {
          color: $color_6;
          font-size: 14px;
          font-weight: 300;
          padding: 10px 0 10px 0;
        }
        .personal {
          .date {
            font-size: 14px;
            font-weight: 400;
            color: $color_3;
            margin-right: 8px;
          }
          .name {
            font-size: 14px;
            font-weight: 400;
            color: $color_6;
          }
        }
      }
    }

  }
}

.mobile_content {
  display: none;
}

@media screen and (min-width: 240px) and (max-width: 1140px) {

  #school_card, #school_table, #school_additional_content  {
    display: none;
  }

  .mobile_content {
    display: block;
    margin-top: 65px;

    .header_container {
      .breadcrumb {
        color: $color_3;
        font-size: 14px;
        font-weight: 400;
        text-align: center;
        background-color: $bg_color_16;
        padding: 8px;
        border-bottom: 1px solid $border_color_2;
        display: block;
        text-decoration: none;
        .left_arrow_icon {
          display: inline-block;
          margin-right: 5px;
          position: relative;
          top: 3px;
        }
      }

      .header {
        padding: 10px;
        background-color: $bg_color_1;
        .title {
          font-size: 17px;
          font-weight: 400;
          color: $color_1;
          text-align: center;
          margin-bottom: 5px;
        }
        .description {
          font-size: 12px;
          font-weight: 300;
          font-style: italic;
          color: $color_1;
          text-align: center;
          .map_3_icon {
            display: inline-block;
            margin-right: 5px;
            position: relative;
            top: 1px;
          }
        }
      }
    }

    .slider {
      position: relative;
      img {
        width: 100%;
        height: auto;
      }
      .label {
        top: 0;
        left: -1px;
        width: 93px;
        height: 92px;
        background: url(../images/label_template.png) no-repeat;
        position: absolute;
      }
      .pagination {
        display: block;
        position: absolute;
        bottom: 10px;
        padding: 0;
        margin: 0;
        width: 100%;
        text-align: center;
        li {
          display: inline-block;
          margin: 0 5px 0 5px;
          width: 10px;
          height: 10px;
          background-color: white;
          opacity: 0.5;
          @include border_radius(5px, 5px, 5px, 5px);
          &.active {
            opacity: 1;
            background: $bg_color_1;
          }
        }
      }
    }

    #school_info_navigation {
      .navigation {

        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;

        li {
          float: left;
          width: 25%;
          text-align: center;
          padding: 10px;
          box-sizing: border-box;
          background-color: $bg_color_16;
          font-size: 12px;
          font-weight: 300;
          color: $color_6;
          border-right: 1px solid $border_color_2;
          cursor: hand;
          .icon {
            margin: 0 auto 6px auto;
          }
          &.active {
            background-color: $bg_color_1;
            color: $color_1;
            box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.5);
            .cash_icon {
              background: url(../images/active_cash_icon.png) no-repeat;
            }
            .info_icon {
              background: url(../images/active_info_icon.png) no-repeat;
            }
            .review_icon {
              background: url(../images/active_review_icon.png) no-repeat;
            }
            .question_icon {
              background: url(../images/active_question_icon.png) no-repeat;
            }
          }
        }

        &:after {
          position   : static;
          display    : block;
          height     : 0;
          clear      : both;
          content    : "";
          visibility : hidden;
        }

      }
      .content_card {
        padding: 0;
        margin: 0;
        list-style: none;
        position: relative;
        li.active {
          display: block;
        }
        .cash {
          display: none;
          .additional_header {
            .title {
              padding: 10px 5px 10px 5px;
              background: $bg_color_1;
              font-size: 15px;
              font-weight: 300;
              color: $color_1;
              text-align: center;
            }
            .text {
              padding: 10px 5px 10px 5px;
              color: $color_4;
              font-size: 14px;
              font-weight: 300;
              text-align: center;
              border-bottom: 1px solid $border_color_2;
            }
          }
          .additional_cash_list {
            padding: 0;
            margin: 0;
            list-style: none;
            position: relative;
            li {
              position: relative;
              background-color: $bg_color_3;
              &:nth-child(even) {
                background-color: $bg_color_19;
                border-top: 1px solid $border_color_9;
                border-bottom: 1px solid $border_color_9;
              }
              .additional {
                .title {
                  padding: 10px 5px 10px 5px;
                  background: $bg_color_1;
                  font-size: 15px;
                  font-weight: 300;
                  color: $color_1;
                  text-align: center;
                }
                .text {
                  padding: 10px 5px 10px 5px;
                  color: $color_4;
                  font-size: 14px;
                  font-weight: 300;
                  text-align: center;
                  border-bottom: 1px solid $border_color_2;
                }
                .prices {
                  padding: 15px 10px 15px 10px;
                  &:after {
                    position   : static;
                    display    : block;
                    height     : 0;
                    clear      : both;
                    content    : "";
                    visibility : hidden;
                  }
                  .price_cnt {
                    position: relative;
                    float: left;
                    font-size: 14px;
                    font-weight: 300;
                    color: $color_6;
                    .value {
                      font-size: 16px;
                      margin: 0 5px 0 5px;
                      color: $color_4;
                    }
                  }
                  .button {
                    position: static !important;
                    float: right;
                    cursor: hand;
                    @include box_shadow(0, 1px, 2px, 0, $bg_color_10)
                  }
                }
              }

            }
          }
          .cash_list {
            padding: 0;
            margin: 0;
            list-style: none;
            position: relative;
            li {
              position: relative;
              background-color: $bg_color_3;
              &:nth-child(even) {
                background-color: $bg_color_19;
                border-top: 1px solid $border_color_9;
                border-bottom: 1px solid $border_color_9;
              }
              .content_dual {
                position: relative;
              }
              .price {
                position: absolute;
                top: 8px;
                right: 10px;
                color: $color_6;
                font-size: 14px;
                font-weight: 300;
                .value {
                  color: $color_4;
                  font-size: 17px;
                  font-weight: 400;
                  margin-right: 5px;
                }
              }
              .header {
                font-size: 14px;
                font-weight: 400;
                padding: 10px 10px 10px 10px;
                color: $color_4;
                border-bottom: 1px solid $border_color_2;
              }
              .content {
                padding: 10px 12px 10px 12px;
                box-sizing: border-box;
                .row {
                  color: $color_6;
                  margin-right: 5px;
                  font-size: 12px;
                  font-weight: 300;
                  .value {
                    margin-left: 5px;
                    color: $color_4;
                    font-weight: 400;
                  }
                }
              }
              .button {
                position: absolute;
                bottom: 25px;
                right: 10px;
                display: block;
                cursor: hand;
                @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
              }
            }
          }
        }

        .info {
          display: none;
          .text {
            padding: 15px;
            box-sizing: border-box;
            border-bottom: 1px solid $border_color_2;
            .header {
              margin-bottom: 5px;
              color: $color_6;
              font-size: 14px;
              font-weight: 400;
            }
            .content {
              color: $color_6;
              font-size: 12px;
              font-weight: 300;
            }
          }
        }

        .statistic {
          padding: 15px;
          background-color: $bg_color_1;
          box-sizing: border-box;
          .title {
            text-align: center;
            color: $color_1;
            font-size: 14px;
            font-weight: 400;
            margin-bottom: 5px;
            .value {
              font-size: 24px;
            }
          }
          .stars {
            padding: 0;
            margin: 0 0 10px 0;
            list-style: none;
            text-align: center;
            li {
              display: inline-block;
              margin: 0 2px 0 2px;
              cursor: hand;
            }
          }
          .description {
            color: $color_1;
            text-align: center;
          }
        }

        .recenze {
          display: none;

          .form {
            padding: 10px;
            border-bottom: 1px solid $border_color_1;
            display: none;
            .stars {
              padding: 0;
              margin: 0;
              list-style: none;
              text-align: center;
              li {
                margin: 0 2px 0 2px;
                display: inline-block;
              }
            }
            .label {
              font-size: 14px;
              font-weight: 300;
              color: $color_6;
              margin: 10px 0 10px 0;
              text-align: center;
            }
            .placeholder {
              position: absolute;
              top: 7px;
              left: 10px;
            }
            .icon {
              margin-right: 5px;
              top: 9px;
            }
            .text_field, .textarea_field {
              font-size: 13px;
              font-weight: 300;
              color: $color_3;
            }
            .textarea_field {
              margin-bottom: 10px;
              textarea {
                border-width: 2px;
                height: 80px;
              }
            }
            .submit {
              text-align: center;
              input {
                padding: 10px 30px 10px 30px;
                border: 0 !important;
                @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
              }
            }
          }

          .actions {
            height: 40px;
            position: relative;
            margin-bottom: 10px;
            border-bottom: 1px solid $border_color_1;
            @extend %clearfix;
            .recenzes_count {
              position: absolute;
              top: 10px;
              left: 20px;
              font-size: 14px;
              font-weight: 400;
              color: #4a4a4a;
              .value {
                margin-right: 5px;
                color: black;
              }
            }
            #mobile_review {
              cursor: hand;
              position: absolute;
              top: 10px;
              right: 10px;
              font-size: 14px;
              font-weight: 300;
              color: $color_2;
              .icon {
                display: none;
              }
              span {
                border-bottom: 1px dashed $border_color_1;
              }
              .pencil_2_icon {
                display: inline-block;
                margin-right: 5px;
              }
            }
          }
          .review_list {
            padding: 10px 20px 10px 20px;
            margin: 0;
            list-style: none;
            li {
              display: block;
              padding: 10px 0 10px 0;
              border-bottom: 1px solid $border_color_2;
              &:last-child {
                border-bottom: 0;
              }
              .title {
                color: $color_6;
                font-size: 12px;
                font-weight: 400;
                @extend %clearfix;
                .raiting {
                  display: inline-block;
                  ul.stars {
                    float: left;
                    padding: 0;
                    margin: 0 10px 0 10px;
                    position: relative;
                    top: 6px;
                    border: 0;
                    li {
                      float: left;
                      padding: 0;
                      border: 0;
                    }
                  }
                  .grade {
                    float: left;
                    position: relative;
                    top: 4px;
                    font-size: 12px;
                    font-weight: 400;
                  }
                }
              }
              .text {
                color: $color_6;
                font-size: 12px;
                font-weight: 300;
                padding: 10px 0 10px 0;
              }
              .personal {
                .date {
                  font-size: 12px;
                  font-weight: 400;
                  color: $color_3;
                  margin-right: 8px;
                }
                .name {
                  font-size: 12px;
                  font-weight: 400;
                  color: $color_6;
                }
              }
            }
          }
        }

        .dotazy {
          display: none;
          .form {
            background-color: #f3efef;
            padding: 10px 10px 10px 10px;
            border-bottom: 1px solid $border_color_1;
            display: none;
            .stars {
              padding: 0;
              margin: 0;
              list-style: none;
              text-align: center;
              li {
                margin: 0 2px 0 2px;
                display: inline-block;
              }
            }
            .label {
              font-size: 14px;
              font-weight: 300;
              color: $color_6;
              margin: 10px 0 10px 0;
              text-align: center;
            }
            .placeholder {
              position: absolute;
              top: 7px;
              left: 10px;
            }
            .icon {
              display: inline-block;
              margin-right: 5px;
              top: 9px;
            }
            .text_field, .textarea_field {
              font-size: 13px;
              font-weight: 300;
              color: $color_3;
            }
            .textarea_field {
              margin-bottom: 10px;
              textarea {
                border-width: 2px;
                height: 80px;
              }
            }
            .submit {
              text-align: center;
              input {
                padding: 10px 30px 10px 30px;
                border: 0 !important;
                @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
              }
            }
          }
          .actions {
            height: 40px;
            position: relative;
            border-bottom: 1px solid $border_color_1;
            @extend %clearfix;
            .recenzes_count {
              position: absolute;
              top: 10px;
              left: 20px;
              font-size: 14px;
              font-weight: 400;
              color: #4a4a4a;
              .value {
                margin-right: 5px;
                color: black;
              }
            }
            #mobile_dotaz {
              cursor: hand;
              position: absolute;
              top: 10px;
              right: 10px;
              font-size: 14px;
              font-weight: 300;
              color: $color_2;
              .icon {
                display: none;
              }
              span {
                border-bottom: 1px dashed $border_color_1;
              }
              .pencil_2_icon {
                display: inline-block;
                margin-right: 5px;
              }
            }
          }
          ul.dotazy_list {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
              padding: 15px;
              box-sizing: border-box;
              border-bottom: 1px solid $border_color_2;
              .text {
                color: $color_6;
                font-size: 12px;
                font-weight: 300;
                margin-bottom: 5px;
              }
              .personal {
                font-size: 12px;
                font-weight: 400;
                color: $color_6;
                .date {
                  margin-right: 5px;
                  color: $color_3;
                }
                .name {

                }
              }
              .answer {
                background-color: $bg_color_20;
                padding: 15px;
                margin-top: 15px;
                position: relative;
                @include border_radius(5px, 5px, 5px, 5px);
                .answer_top_icon {
                  top: -7px;
                  left: 20px;
                  position: absolute;
                }
                .answer_text {
                  color: $color_6;
                  font-size: 12px;
                  font-weight: 300;
                }
                .answer_name {
                  color: $color_6;
                  font-size: 12px;
                  font-weight: 300;
                  margin: 5px 0 5px 0;
                }
                .answer_state {
                  color: $color_3;
                  font-size: 12px;
                  font-weight: 300;
                }
              }
            }
          }
        }

      }

    }

  }

}

#search {

  display: none;

  .header {
    h2 {
      color: white;
    }
    .description {
      color: white;
    }
  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #search {
    background: $bg_color_13;
    display: block;
    .header {
      .delimeter {
        background-color: $bg_color_3;
      }
    }
  }
}


#contacts_banner {

  width: 100%;
  height: 70%;
  background: url(../images/contacts_banner.jpg) no-repeat;
  background-position-y: 50%;
  background-size: cover;
  position: relative;

  .breadcrumbs {
    margin-top: 10px;
    li {
      color: $color_1;
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      a {
        color: $color_1;
        font-size: 16px;
        font-weight: 300;
        line-height: 22px;
      }
    }
  }

  .text {
    text-align: center;
    margin-top: 20px;
    .header {
      color: $color_1;
      margin: 30px 0 15px 0;
      font-size: 68px;
      font-weight: 600;
    }
    .description {
      color: $color_1;
      font-size: 48px;
      font-weight: 300;
    }
  }

  .icon {
    display: none;
  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #contacts_banner {
    height: 100%;
    background-position-x: center;
  }
}


#contacts_additional {

  position: absolute;
  bottom: 136px;
  width: 100%;
  height: 250px;

  .g_row {
    background-color: $bg_color_3;
    padding: 10px 5px 10px 5px;
    box-sizing: border-box;
    /* border: 1px solid $border_color_11; */
    border-bottom: 1px solid $border_color_2;
    @include border_radius(5px, 5px, 0, 0);
    .additional {
      padding: 0 15px 0 15px;
      float: left !important;
      position: relative !important;
      box-sizing: border-box;
      .header {
        margin: 10px 0 7px 0;
        font-size: 24px;
        font-weight: 400;
        color: $color_10;
      }
      .text {
        text-align: left;
        font-style: italic;
        font-size: 16px;
        color: $color_10;
        b {
          margin: 0 5px 0 5px;
          font-weight: 600;
        }
      }
      .contact {
        margin: 10px 0 10px 0;
        .phone_3_icon, .mail_3_icon {
          display: inline-block;
          margin-right: 7px;
          top: 5px;
          position: relative;
        }
        a {
          font-size: 20px;
          font-weight: 400;
          text-decoration: none;
          color: $color_10;
        }
      }
    }
  }

}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #contacts_breadcrumbs {
    display: none;
  }
  #contacts_header {
    height: 100%;
    .text {
      .header {
        margin-top: 160px;
        margin-bottom: 0;
        font-size: 28px;
        font-weight: 700;

      }
      .delimiter {
        width: 75px;
        height: 2px;
        background: $bg_color_3;
        margin: 10px auto 10px auto;
      }
      .description {
        font-size: 16px;
        font-weight: 300;
      }
    }
    .icon {
      display: block;
      position: absolute;
      bottom: 5%;
      left: 50%;
      margin-left: - 25px;
    }
  }

  #contacts_additional {
    height: auto;
    bottom: 0;
    position: relative;

    .g_row {
      padding: 0;
      @extend %clearfix;
      @include border_radius(0, 0, 0, 0);
      .additional {
        padding: 0;
        box-sizing: border-box;
        float: none !important;
        .header {
          margin: 0;
          background-color: #eee;
          padding: 10px;
          box-sizing: border-box;
          font-size: 18px;
          font-weight: 400;
          color: #4a4a4a;
          text-align: center;
          border: 1px solid #d8d8d8;
        }
        .text {
          font-size: 16px;
          color: $color_10;
          border: 0;
          padding: 15px;
          box-sizing: border-box;
          margin-top: 0;
          b {
            margin: 0 5px 0 5px;
            font-weight: 600;
          }
        }
        .contacts {
          padding: 0 15px 15px 15px; ;
        }
        .contact {
          box-sizing: border-box;
          .phone_3_icon, .mail_3_icon {
          }
          a {
            font-size: 20px;
            font-weight: 400;
          }
        }
      }
    }
  }

}

#contacts_info {
  padding-bottom: 30px;
  background-color: $bg_color_2;
  .g_row {

    .g_col_m_12 {
      position: relative;
    }

    padding: 15px;
    //border: 1px solid $border_color_11;
    background: white;
    border-top: 0;
    box-sizing: border-box;
    @include border_radius(0, 0, 5px, 5px);
    @include box_shadow(0, 1px, 2px, 0, $bg_color_10);
    .title {
      font-size: 24px;
      font-weight: 400;
      color: $color_10;
      margin: 5px 0 5px 0;
    }
    .text {
      font-size: 20px;
      font-weight: 300;
      color: $color_10;
    }
    #google_map {
      iframe {
        border: 0;
        width: 100%;
        height: 300px;
      }
    }
  }
}

@media screen and (min-width: 240px) and (max-width: 1140px) {
  #contacts_info {
    padding-bottom: 0px;
    background-color: $bg_color_3;
    .g_row {
      padding: 0;
      .g_col_m_12 {
        padding: 0;
      }
      @include border_radius(0, 0, 0, 0);
      @include box_shadow(0, 0, 0, 0, $bg_color_10);
      .title {
        margin: 0;
        background-color: #eee;
        padding: 10px;
        box-sizing: border-box;
        font-size: 18px;
        font-weight: 400;
        color: $color_10;
        text-align: center;
        border: 1px solid #d8d8d8;
      }
      .text {
        font-size: 20px;
        font-weight: 300;
        color: $color_10;
        padding: 15px;
        box-sizing: border-box;
      }
      #google_map {
        iframe {
          border: 0;
          width: 100%;
          height: 300px;
        }
      }
    }
  }
}

@import "elements/questions_screen";
@import "elements/cities_screen";
@import "elements/reviews_screen";
@import "elements/landing_screen";